{# app/Resources/views/form/fields.html.twig #}
{% block integer_widget %}
    <div class="input-field integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}