{% block form_row %}
    <div class="form_row col s4">
        {{ form_label(form, null, {'label_attr': {'class': 'control-label label-rh'}}) }}
        {{ form_widget(form, {'attr': {'class': 'input-rh'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}