{% set situacaoFeriasAnterior = field.data %}
<table class="table bordered show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.ferias.periodoAquisitivoAnterior'|trans }}</th>
            <td><span class="left">
                {% if situacaoFeriasAnterior %}
                    {{ situacaoFeriasAnterior.dtInicialAquisitivo|date("d/m/Y") ~ ' a ' ~ situacaoFeriasAnterior.dtFinalAquisitivo|date("d/m/Y")}}
                {% endif %}
            </span></td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>{{ 'label.ferias.feriasGozadasEm'|trans }}</th>
            <td><span class="left">
                {% if situacaoFeriasAnterior %}
                    {{ situacaoFeriasAnterior.fkPessoalLancamentoFerias.dtInicio|date("d/m/Y") ~ ' a ' ~ situacaoFeriasAnterior.fkPessoalLancamentoFerias.dtFim|date("d/m/Y")}}
                {% endif %}
            </span></td>
        </tr>
    </tbody>
</table>
