<link href="/prestacaocontas/css/dataTables.bootstrap.min.css" />
<link href="/prestacaocontas/css/scroller.bootstrap.min.css" />

<div class="box box-primary">
    <div class="box-header col s12">
        <h4 class="col s12 box-title left-align show saldo-inicial">
            R$ 0,00
        </h4>
        <div class="divider grey lighten-1  title-divider"><p>1</p></div>
    </div>
</div>

<style type="text/css">
.header-custom-grid {
    width: unset;
    width: 90px !important;
}
</style>
<div class="row">

    <table class="table table-striped nowrap display" id="tableList" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="sonata-ba-list-field-header"></th>
                <th class="sonata-ba-list-field-header">Grupo de Despesa</th>
                <th class="sonata-ba-list-field-header">Jan.</th>
                <th class="sonata-ba-list-field-header">Fev.</th>
                <th class="sonata-ba-list-field-header">Mar.</th>
                <th class="sonata-ba-list-field-header">Abr.</th>
                <th class="sonata-ba-list-field-header">Mai.</th>
                <th class="sonata-ba-list-field-header">Jun.</th>
                <th class="sonata-ba-list-field-header">Jul.</th>
                <th class="sonata-ba-list-field-header">Ago.</th>
                <th class="sonata-ba-list-field-header">Set.</th>
                <th class="sonata-ba-list-field-header">Out.</th>
                <th class="sonata-ba-list-field-header">Nov.</th>
                <th class="sonata-ba-list-field-header">Dez.</th>
                <th class="sonata-ba-list-field-header">Total</th>
            </tr>
        </thead>
    </table>
</div>