{% if field.data.label is defined %}
<label class="control-label">
    {{ field.data.label|trans }}
</label>
{% endif %}
<div style="padding-left: 5px; padding-top: 8px;">
    {{ field.data.value }}
</div>

