{% if admin.isGranted('EDIT', object) and admin.hasRoute('anular-solicitacao')%}
    {#{% if object.ativo == false %}#}
        <a href="{{ path('patrimonial_compras_anular_solicitacao', { 'id': object.codSolicitacao }) }}" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Anular">
            <i class="fa fa-ban fa-lg"></i>
        </a>
    {#{% endif %}#}
{% endif %}
