<a href="#" data-toggle="tooltip" data-placement="bottom" title="Detalhe" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list hidden_table">
    <i class="fa fa-search-plus fa-lg"></i>
</a>

