{% if admin.isGranted('EDIT', object) and admin.hasRoute('ativar-desativar')%}

    {% if object.ativo == false %}
        <a href="{{ path('patrimonial_compras_ativar_fornecedor', { 'id': object.fkSwCgm.numcgm }) }}" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Ativar">
            <i class="mdi mdi-toggle-switch fa-lg"></i>
        </a>
    {% else %}
        <a href="{{ path('patrimonial_compras_inativar_fornecedor', { 'id': object.fkSwCgm.numcgm }) }}" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Inativar">
            <i class="mdi mdi-toggle-switch-off fa-lg"></i>
        </a>
    {% endif %}
{% endif %}
