{% extends 'CoreBundle:Sonata/CRUD:base_show_field.html.twig' %}

{% block field %}
  <ul>
    {% for li in field_description.options.data %}
      <li>{{ li }}</li>
    {% endfor %}
  </ul>
{% endblock field %}
