{% block form_row %}
    <table class="table show-table">
        <tbody>
            <tr class="sonata-ba-view-container">
                <th>{{ form_label(form.fkEmpenhoEmpenho) }}</th>
                <td>
                    {{ form_widget(form.fkEmpenhoEmpenho) }}
                    {{ form_errors(form.fkEmpenhoEmpenho) }}
                </td>
            </tr>

            <tr>
                <th>&nbsp;</th>
                <td>
                    <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remover"><i class="material-icons">remove_circle</i></a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock form_row %}