<table class="table show-table">
    <tbody>
        <tr>
            <td colspan="2">
                {% form_theme form.fkTcemgLoteRegistroPrecos 'PrestacaoContasBundle::Tribunal/MG/Configuracao/RegistroPrecos/form_fkTcemgLoteRegistroPrecos.html.twig' %}
                {{ form_widget(form.fkTcemgLoteRegistroPrecos) }}
            </td>
        </tr>
    </tbody>
</table>