<table class="table show-table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <td colspan="2">
                <a href="#" id="add-item_fkTcemgEmpenhoRegistroPrecos" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir">
                    <i class="material-icons">add_circle</i>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% form_theme form.fkTcemgEmpenhoRegistroPrecos 'PrestacaoContasBundle::Tribunal/MG/Configuracao/RegistroPrecos/form_fkTcemgEmpenhoRegistroPrecos.html.twig' %}
                {{ form_widget(form.fkTcemgEmpenhoRegistroPrecos) }}
            </td>
        </tr>
    </tbody>
</table>