{% set funcao = field.options.data.funcao %}

{% if funcao %}
<div class="box-body  no-padding">
    <table class="table show-table">
        <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ "label.monetarioAcrescimo.funcao" | trans }}</th>
            <td>{{ funcao }}</td>
        </tr>
    </table>
</div>
{% endif %}