{% set norma = field.options.data.norma %}

{% if norma %}
<div class="box-body  no-padding">
    <table class="table show-table">
        <tbody>
        <tr class="sonata-ba-view-container">
            <th>{{ "label.norma.modulo" | trans }}</th>
            <td>{{ norma.nomNorma }}</td>
        </tr>
    </table>
</div>
{% endif %}