{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="blue-text text-darken-4">Plano de Saúde</h4>
            </div>
            <div class="col s12 divider">
            </div>
        <div class="col s12">
        <br/>
        </div>
        </div>
        <div class="row">
            <div class="col s2 center-align">
                <a href="{{ path('urbem_recursos_humanos_beneficio_layout_fornecedor_list') }}" class="serv-btn btn-large btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Configuração"><i class="material-icons"><i class="material-icons">settings</i></i></a>
            </div>
            <div class="col s8">
                <h5 class="blue-text text-darken-4"><a href="{{ path('urbem_recursos_humanos_beneficio_layout_fornecedor_list') }}">Configuração</a></h5>
                {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
            </div>
        </div>
        <div class="row">
            <div class="col s2 center-align">
                <a href="{{ path('urbem_recursos_humanos_beneficio_beneficiario_list') }}" class="serv-btn btn-large btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Manter Beneficiários"><i class="material-icons"><i class="material-icons">playlist_add_check</i></i></a>
            </div>
            <div class="col s8">
                <h5 class="blue-text text-darken-4"><a href="{{ path('urbem_recursos_humanos_beneficio_beneficiario_list') }}">Manter Beneficiários</a></h5>
                {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>elton#}
            </div>
        </div>
        <div class="row">
            <div class="col s2 center-align">
                <a class="serv-btn btn-large btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Manter Importação Mensal"><i class="material-icons"><i class="material-icons"><i class="material-icons">date_range</i></i></i></a>
            </div>
            <div class="col s8">
                <h5 class="blue-text text-darken-4">Manter Importação Mensal</h5>
                {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
