{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s2 center-align">
        </div>
        <div class="col s10">
            <h3 class="blue-text text-darken-4">Admin Inventario Almoxarifado</h3>
        </div>
        <div class="col s12 divider">
        </div>
    </div>
    <div class="col s5">
        <div class="row">
            <div class="col s1">
                <p></p>
            </div>
            <div class="col s8">
                <a href="#">
                    <h5 class="blue-text text-darken-4">Inventario</h5>
                </a>
                <a href="#">
                    <p class="black-text"> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s1">
                <p></p>
            </div>
            <div class="col s8">
                <a href="#">
                    <h5 class="blue-text text-darken-4">Processar Inventario</h5>
                </a>
                <a href="#">
                    <p class="black-text"> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% block content %}