<div class="row">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h2 class="col s12 box-title left-align show">
                {{ admin.getNomTipoIndicador }}
            </h2>
            <div class="divider grey title-divider"></div>
        </div>
    </div>
</div>
