{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s2 center-align">
        </div>
        <div class="col s10">
            <h3 class="blue-text text-darken-4">PrevidênciaJu</h3>
        </div>
        <div class="col s12 divider">
        </div>
    </div>
    <div class="col s5">
        <div class="row">
            <div class="col s2">
                <a href="#"
                   class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Configurar"><i class="material-icons">settings</i></a>
            </div>
            <div class="col s10">
                <h5 class="blue-text text-darken-4"><span class="grey-text">Admin Previdencia<span></h5>
            </div>
        </div>
    </div>
    <div class="col s2">
        <p></p>
    </div>
    <div class="col s5">
        <div class="row">
            <div class="col s2">
                <a href="#"
                   class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped"
                   data-position="left"
                   data-delay="50"
                   data-tooltip="Configurar"><i class="material-icons">settings</i></a>
            </div>
            <div class="col s10">
                <h5 class="blue-text text-darken-4"><span class="grey-text">Desconto Externo<span></h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
