<div class="row">
    <div>
        <table class="table table-striped nowrap display" id="tableListPagamentos" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="sonata-ba-list-field-header"></th>
                <th class="sonata-ba-list-field-header">Entidade</th>
                <th class="sonata-ba-list-field-header">Órgão</th>
                <th class="sonata-ba-list-field-header">Unidade</th>
                <th class="sonata-ba-list-field-header">Recurso</th>
                <th class="sonata-ba-list-field-header">Ação</th>
                <th class="sonata-ba-list-field-header">Educação infantil</th>
                <th class="sonata-ba-list-field-header">Ações</th>
            </tr>
            </thead>
        </table>
    </div>
</div>