<div class="col s12">
    <div class="col s1 right" style="margin-top: 10px">
        <span class="icon-input">
            <i class="material-icons">add_circle</i>
        </span>
        <input class="white-text blue darken-4 btn btn-success save col s12" type="button" name="lotesManuais" id="lotesManuais" value="Incluir">
    </div>
</div>
<div class="col s12 confrontacoes">
    <h3 class="col s10 box-title left-align show">{{ 'label.imobiliarioLote.listaLotes'|trans }}</h3>
    <div class="divider grey lighten-1  title-divider"></div>
    <table id="tableLotesManuais" class="bordered highlight" style="width:100%">
        <tr class="tr-rh">
            <th class="th-rh">{{ 'label.imobiliarioLote.lote'|trans }}</th>
            <th class="th-rh">{{ 'label.acao'|trans }}</th>
        </tr>
        <tr class="tr-rh row-modelo" style="display: none;">
            <td class="td-rh lote"></td>
            <td class="td-rh remove">
                <input type="hidden" class="imput-lote" name="lotes[]">
                <i class="material-icons blue-text text-darken-4">delete</i>
            </td>
        </tr>
        <tr class="tr-rh empty-row-confrontacoes">
            <td colspan="2">{{ 'listagemVazia'|trans }}</td>
        </tr>
    </table>
</div>