<a href="{{ path('urbem_recursos_humanos_pessoal_rescisao_create', {'id': object.codContrato, 'parent': 'rescisao-contrato-servidor'}) }}" class="blue-text text-darken-4 tooltipped " title="Rescindir contrato">
    <i class="mdi mdi-image-broken-variant fa-lg" aria-hidden="true"></i>
</a>