{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if (object.fkPessoalServidorContratoServidores.last.fkPessoalContratoServidor.fkPessoalContratoServidorOrgoes.isEmpty != true) %}
        {{ admin.lotacao(object.fkPessoalServidorContratoServidores.last.fkPessoalContratoServidor.fkPessoalContratoServidorOrgoes.last.fkOrganogramaOrgao.codOrgao) }}
    {% else %}
        <div class="text-center">-</div>
    {% endif %}
{% endblock field %}
