{% extends "base.html.twig" %}
{% block content %}
    <div class="row">
        <h4 class="center amber-text">DEBUG AUTOCOMPLETE</h4>
    </div>
    <div class="row">
        {{ form_rest(form) }}
    </div>
{% endblock content %}

