{% if admin.getCatalogoItem() == false %}
    <a href="{{ path('urbem_patrimonial_almoxarifado_catalogo_item_foto_create', { 'item': object.codItem }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-placement="bottom" title="{{ 'label.imobiliarioImovelFoto.incluirImagem'|trans }}">
        <i class="fa fa-camera fa-lg"></i>
    </a>
{% else %}
    <a href="#" class="grey-text z-depth-0 hide-on-med-and-down tooltipped  btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.imobiliarioImovelFoto.incluirImagem'|trans }}">
        <i class="fa fa-camera fa-lg grey-text" aria-hidden="true"></i>
    </a>
{% endif %}
