{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if admin.descricaoCompletaDownload %}
        <a href="{{ admin.generateObjectUrl('descricao_completa_download', object) }}" class="btn" target="_blank">Descrição Completa - Download</a>
    {% else %}
    	-
    {% endif %}
{% endblock field %}
