{% extends "base.html.twig" %}

{% block title %}Elemento{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}
{% block content %}
    <div class="container-rh">
        <div class="row col s12">
            <div class="box-header">
                <h2 class="box-title left-align">
                    Exportar Arquivo Coletora
                </h2>
                <div class="divider grey lighten-1  title-divider"><p>1</p></div>
                {{ form_rest(formCustomized, { 'attr': {'class': 'foo '} } )}}
            </div>
        </div>
    </div>
{% endblock content %}