{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="box-header">
        <h5 class="blue-text text-darken-4">Consulta Registro de Eventos</h5>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="row">
        <div class="col s3 field-filtro">
            <label class="required" for="selecao-filtro">Seleção do Filtro</label>
            <input type="text" class="input-rh" name="selecao-filtro">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="filtrar">Filtrar</label>
            <input type="text" class="input-rh" name="filtrar">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="filtro-matricula">Filtro por Matrícula</label>
            <input type="text" class="input-rh" name="filtro-matricula">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="matricula">Matrícula</label>
            <select name="filtro" class="form-control white basic-multiple select2-parameters">
                <option value="">Selecione</option>
                <option value="0" selected>Matricula</option>
                <option value="1">CGM/Matricula</option>
                <option value="2">Cargo</option>
                <option value="3">Função</option>
                <option value="4">Padrão</option>
                <option value="5">Lotação</option>
                <option value="6">Local</option>
            </select>
        </div>

         <div class="col s3 field-filtro">
            <label class="required" for="filtro-matricula">CGM</label>
            <input type="text" class="input-rh" name="filtro-matricula">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="matricula">Matrícula</label>
            <input type="text" class="input-rh" name="matricula">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="filtro-matricula">Link</label>
            <input type="text" class="input-rh" name="filtro-matricula">
        </div>

        <div class="col s3 field-filtro">
             <label class="required" for="competencia">Competência</label>
             <input class="input-rh" type="number" max="2059" min="2001" value="{{ "now"|date('Y') }}">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="mouth">Mês</label>
            <select name="mes" class="form-control white basic-multiple select2-parameters">
                <option value="" disabled selected>Selecione</option>
                <option value="">Janeiro</option>
                <option value="">Fevereiro</option>
                <option value="">Março</option>
                <option value="">Abril</option>
                <option value="">Maio</option>
                <option value="">Junho</option>
                <option value="">Julho</option>
                <option value="">Agosto</option>
                <option value="">Setembro</option>
                <option value="">Outubro</option>
                <option value="">Novembro</option>
                <option value="">Dezembro</option>
            </select>
        </div>



        <div class="col s3 field-filtro">
            <label class="required" for="filtro-matricula">Link</label>
            <input type="text" class="input-rh" name="filtro-matricula">
        </div>

        <div class="col s3 field-filtro">
            <label class="required" for="mouth">Tipo de Cálculo</label>
            <select name="tipo-de-calculo" class="form-control white basic-multiple select2-parameters">
                <option value="">Salário</option>
                <option value="">Férias</option>
                <option value="">13° Salário</option>
                <option value="">Rescisão</option>
            </select>
        </div>


        <div class="col s3 field-filtro" style="padding-bottom: 3px!important;">
            <label class="control-label labelCheck-rh" for="filtrar-folha-complementar">Filtrar por Folha Complementar</label>
            <input class="iCheck-helper browser-default icheckBox" type="checkbox" name="filtrar-folha-complementar" id="filtrar-folha-complementar">
        </div>
        <div class="col s4 field-filtro radio-rh">
            <label class="control-label label-rh required ">Ordenação</label>
            <div id="form_stDesdobramento" class="white">
                <input required="required" type="radio" name="ordenacao" id="codigo-evento">
                <label class="required" for="codigo-evento">Código do Evento</label>
                <input required="required" type="radio" name="ordenacao" id="sequencia-calculo">
                <label class="required" for="sequencia-calculo">Sequência de Cálculo</label>
            </div>
        </div>
        <div class="col s8 field-filtro">
            <label class="col s12" for="filtrar-folha-complementar">Dados Informativos</label>
            <p class="col s4"><a href="#" class="blue-text text-darken-4">Consultar Registro de Evento</a></p>
            <p class="col s4"><a href="#" class="blue-text text-darken-4">Consultar Assentamento Gerado</a></p>
            <p class="col s4">
                <a href="#" class="blue-text text-darken-4">Consultar Cadastro</a>
            </p>
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col s9">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('folha_pagamento_folha_salario_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>

        <div class="col s1 right-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Imprimir" value="Imprimir"><i class="material-icons">print</i></button>
        </div>
        <div class="col s2 left-align">
            <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Calcular"><i class="mdi mdi-file-document left">Calcular</button>
        </div>
    </div>
</div>
{% endblock content %}