<th{% if(is_diff|default(false)) %} class="diff"{% endif %}>{% block name %}{{ admin.trans(field.label, {}, field.translationDomain) }}{% endblock %}</th>
<td>
    {% block field %}
        {% if field.options.data.fkImobiliarioAtributoNivelValores|length > 0 %}
            {% for atributoNivelValor in field.options.data.fkImobiliarioAtributoNivelValores %}
                <p> <strong>{{ atributoNivelValor.fkImobiliarioAtributoNivel.fkAdministracaoAtributoDinamico.nomAtributo }}</strong>:
                {{ atributoNivelValor.valor }} </p>
            {% endfor %}
        {% endif %}
    {% endblock %}
</td>
