<th>Atributos</th>
<td>
    {% block field %}
        {% if field.options.data.fkEconomicoAtributoElementos|length > 0 %}
            {% for atributoElemento in field.options.data.fkEconomicoAtributoElementos %}
                <p>{{ atributoElemento.fkAdministracaoAtributoDinamico.nomAtributo }}</p>
            {% endfor %}
        {% endif %}
    {% endblock %}
</td>
