{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<a href="{{ path('urbem_financeiro_tesouraria_conciliacao_create', { 'params': object.codPlano ~ '~' ~ object.exercicio ~ '~' ~ admin.getFilter().mes ~ '~' ~ admin.getFilter().dtExtrato ~ '~' ~ admin.getFilter().codEntidade }) }}"
   data-position="bottom"
   data-delay="50"
   title="{{ 'label.conciliarConta.conciliar'|trans }}"
   class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped">
    <i class="fa fa-random fa-lg" aria-hidden="true"></i>
</a>