{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4">
        <i class="mdi mdi-file-document left"></i>
        Relatorios Patrimonial
    </h4>
    <div class="divider"></div>

    <div class="col s3">
        <div class="section">
            <a><h6 class="grey-text truncate">Apolice de Seguro a Vencer</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Customiazável</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a><h6 class="grey-text truncate">Ficha Patrimonial</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Historico de Inventario</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Posição Financeira por Natureza</h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>


    <div class="col s3">
        <div class="section">
            <h6 class="grey-text truncate">Apólice de seguro</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Bens baixados</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Bens por entidade</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Carga Patrimonial</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Classificação</h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>


    <div class="col s3">
        <div class="section">
            <h6 class="grey-text truncate">Consistência Arquivo Coletara</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Reavaliações</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Depreciações</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Depreciações Acumuladas</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Inventário</h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>


    <div class="col s3">
        <div class="section">
            <h6 class="grey-text truncate">Manutenção</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Patrimonial</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Termo de Responsabilidade</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Lista Patrimonial</h6>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h6 class="grey-text truncate">Contábil</h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock content %}
