/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/*
.DS_Store
/app/config/common/parameters.yml
.idea/
/nbproject/private/
/app/config/routing.yml
app/config/routing.yml
composer-setup.php
composer.phar
nbproject/
node_modules/
DataFiles/
.vscode/*
ruleset.xml
behat.xml
.buildpath
.project
.settings/
composer.lock
app/bootstrap.php.cache
var/SymfonyRequirements.php
web/config\.php
package.json
package-lock.json
