<div class="form_row col s3 campo-sonata">
	<button type="button" name="incluir-atividade-btn" class="waves-effect waves-light btn blue darken-4 btn btn-success">
		<i class="fa fa-plus fa-sm"></i> Incluir
	</button>
</div>
<div class="form_row col s12 campo-sonata">
    <div class="alert alert-danger js-incluir-atividade-errors hidden"></div>
</div>
