{% extends "base.html.twig" %}

{% block title %}{{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}{% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col s12 m12 l6">
      <label for="filtrar">Folha Complementar</label>
      <input class="input-rh" type="text" name="filtrar" placeholder="2 - Abril">
    </div>
    <div class="col s12 m12 l6">
      <label for="tipofiltro">Tipo de Filtro</label>
      <select name="tipofiltro">
        <option value="" disabled selected>Selecione</option>
        <option value="contrato_todos">Matrícula</option>
        <option value="cgm_contrato_todos">CGM/Matrícula</option>
        <option value="lotacao">Lotação</option>
        <option value="geral">Geral</option>
      </select>
    </div>
  </div>
  <div class="row">
      <div class="col s6">
          <a  class="btn-floating white-text blue darken-4" href="{{ path('folha_pagamento_folha_complementar_index') }}"><i class="material-icons">arrow_back</i></a>
      </div>
      <div class="col s6 right-align">
          <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Calcular"><i class="mdi mdi-calculator left"></i>Calcular</button>
      </div>
  </div>
</div>
{% endblock content %}
