{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <form name="complementar_por_contrato" action="post">
            <div class="col s12 m12 l6">
                <label for="tipofiltro">Tipo de Filtro</label>
                <select name="tipofiltro">
                    <option value="">Selecione</option>
                    <option value="contrato">Matrícula</option>
                    <option value="cgm_contrato">CGM/Matrícula</option>
                    <option value="lotacao">Lotação</option>
                    <option value="local">Local</option>
                    <option value="atributo_servidor">Atributo Dinâmico Servidor</option>
                    <option value="atributo_pensionista">Atributo Dinâmico Pensionista</option>
                    <option value="geral">Geral</option>
                </select>
            </div>
            <div class="col s12 m12 l6">
                <label for="tipofiltro">CGM/Matricula</label>
                <select name="tipofiltro">
                    <option value="">Selecione</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s6">
            <a  class="btn-floating white-text blue darken-4" href="{{ path('folha_pagamento_folha_complementar_index') }}"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col s6 right-align">
            <form name="complementar_por_contrato" action="post">
                <button type="submit" class="waves-effect waves-light btn blue darken-4" value="Registrar"><i class="material-icons left">save</i>Registrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
