<th{% if(is_diff|default(false)) %} class="diff"{% endif %}>{% block name %}{{ admin.trans(field.label, {}, field.translationDomain) }}{% endblock %}</th>
<td>
    {% block field %}
        {% if field.options.data.fkImobiliarioAtributoTrechoValores|length > 0 %}
            {% for atributoTrechoValor in field.options.data.fkImobiliarioAtributoTrechoValores %}
                <p> <strong>{{ atributoTrechoValor.fkAdministracaoAtributoDinamico.nomAtributo }}</strong>:
                {{ atributoTrechoValor.valor }} </p>
            {% endfor %}
        {% endif %}
    {% endblock %}
</td>
