{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and admin.verificaBaixaTrecho(object) == false %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="Excluir">
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
    </a>
{% else %}
    <a href="#" class="grey-text z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="Excluir">
        <i class="fa fa-trash fa-lg grey-text" aria-hidden="true"></i>
    </a>
{% endif %}