<tr class="sonata-ba-view-container">
    <th>{{ field.options.label }}</th>
    <td>
        {{ field.options.data }}

        {% if field.options.data == 'FINALIZADO' %}
            <a class="right hide-on-med-and-down waves-effect waves-light btn blue darken-4 white-text" href="{{ path('prestacao_contas_download', {fila: admin.subject.id}) }}">
                <i class="fa fa-cloud-download icon-btn"></i> Baixar arquivo</a>
        {% endif %}
    </td>
</tr>

