{% extends "base.html.twig" %}

{% block title %}FolhaPagamento\FolhaFerias {% endblock title %}


{% block menu %}
    {% include '::partials/menu.html.twig' %}
{% endblock menu %}

{% block content %}
    <div class="container">
        <dv class="row">
            <table class="bordered highlight">
                <thead>
                <th>
                    <tr>
                        <td colspan="2">Parâmetros de Consulta</td>
                    </tr>
                </th>
                </thead>
                <tbody>
                <tr>
                    <td>Opções</td>
                    <td>
                        <label>
                            <input type="radio">
                            Matrícula
                        </label>
                        <label>
                            <input type="radio">
                            CGM/Matrícula
                        </label>
                        <label>
                            <input type="radio">
                            Evento
                        </label>
                    </td>
                </tr>
                </tbody>
                <thead>
                <th>
                    <tr>
                        <td colspan="2">Filtro por Matrícula</td>
                    </tr>
                </th>
                </thead>
                <tbody>
                <tr>
                    <td>CGM</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Matrícula</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>Informações da Função</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Competência</td>
                    <td>
                        <input type="number" min="2001" max="2059" value="2016">
                        <select name="mes">
                            <option value="0" disabled selected>Selecione</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </dv>
        <div class="row">
            <input type="button" disabled value="OK">
            <input type="button" disabled value="Limpar">
        </div>
    </div>
{% endblock content %}
