{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and admin.verificaBaixa(object) == false and admin.verificaSuspensao(object) == false and admin.verificaSuspensaoACancelar(object) == false and admin.verificaCassacao(object) == false %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" data-toggle="tooltip" data-placement="bottom" title="Editar" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list">
        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
    </a>
{% else %}
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Editar" class="grey-text z-depth-0 hide-on-med-and-down tooltipped btn-list">
        <i class="fa fa-pencil fa-lg grey-text" aria-hidden="true"></i>
    </a>
{% endif %}