{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.verificaBaixa(object) == false and admin.verificaSuspensao(object) == false and admin.verificaSuspensaoACancelar(object) == false and admin.verificaCassacao(object) == false %}
    <a href="{{ path('urbem_tributario_imobiliario_licencas_licenca_cassacao_create', { 'codLicenca': object.codLicenca, 'exercicio': object.exercicio }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.imobiliarioLicenca.cassarLicenca'|trans }}">
        <i class="fa fa-gavel fa-lg"></i>
    </a>
{% else %}
    <a href="#" class="grey-text z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.imobiliarioLicenca.cassarLicenca'|trans }}">
        <i class="fa fa-gavel fa-lg grey-text"></i>
    </a>
{% endif %}
