<td class="text-right">
  {% if admin.saldosEmpenhoLista(object).vl_empenhado is defined %}
      {{ admin.saldosEmpenhoLista(object).vl_empenhado|number_format_currency('BRL') }}
  {% else %}
      {{ "0"|number_format_currency('BRL') }}
  {% endif %}
</td>
