<div class="col s12" style="position: absolute; right: 60px;">
    <a class="btn save sonata-ba-action right"
       href="{{ admin.generateObjectUrl('relatorio', object) }}">
        <i class="mdi mdi-download left"></i>Relatorio
    </a>
</div>
