<table class="col s12 highlight bordered registrosBordero" style="margin-bottom: 45px;">
    <thead class="thead-rh">
    <tr class="sonata-ba-list-field-header">
        <th class="th-rh"></th>
        <th class="th-rh">Entidade</th>
        <th class="th-rh">OP</th>
        <th class="th-rh">Empenhos</th>
        <th class="th-rh">Credor</th>
        <th class="th-rh">Valor Líquido a Pagar</th>
        <th class="th-rh"></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
