<a href="{{ admin.generateObjectUrl('consulta_arrecadacao', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped"
   data-toggle="tooltip" data-placement="bottom" title="{{ 'Consultar'|trans }}">
    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
</a>
