{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="collection">
        {% for error in errors %}
            <li class="collection-item red-text">{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
