{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/core/css/tooltips.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/core/css/menu-module.css') }}">
{% endblock %}
<div class="fixed-action-btn click-to-toggle" style="bottom: 25px; right: 2px;">
    <span class="btn-floating blue darken-4 btn-large">
        <i aria-hidden="true" class="large material-icons text-darken-4">menu</i>
        <span class="sr-only">menu módulos</span>
    </span>
</div>

<div class="menu-module">
    <div class="gridbox scrollbar">
        <div class="innergrid">
            <ul>
                {{ listMenuModulesEnabled() }}
            </ul>
        </div>
    </div>
    <div class="arrow"></div>
</div>
