<td>
	{% set catalogoItem = admin.setCatalogoItem(object) %}

	{% if catalogoItem.getPrioridade() in constant('PRIORIDADES_LIST', catalogoItem)|keys %}
		{{ constant('PRIORIDADES_LIST', object)[object.catalogoItem.getPrioridade()] }}
	{% endif %}
</td>