<td>
	{% set requisicaoItem = object.getFkAlmoxarifadoRequisicaoItens().last() %}

	{% if requisicaoItem %}
		{{ requisicaoItem.getQuantidade()|number_format(4, ',', '.') }}
	{% else %}
		0
	{% endif %}
</td>