thead {
    text-align: center !important;
    background: #bdbdbd !important;
    font-size: 13px !important;
    border: 5px solid #fff !important;
    color: #fff !important;
}
th {
    text-align: center !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}