.menu-module {
    z-index: 998;
    position: fixed;
    bottom: 25px;
    right: 80px;
}

.menu-module ul {
    list-style: none;
}

.menu-module li {
    float: left;
    text-align: center;
    color: black;
    font-size: small;
    cursor: pointer;
    height: 90px;
}

.menu-module .text {
    text-align: center;
    color: #366DA1;
    font-size: small;
    font-weight: 600;
    margin: 10px -5%;
    padding: 2px;
    display: inline-block;
    text-overflow: ellipsis;
    transition: .3s;
    text-shadow: 0px 0px 2px #fff, 1px 1px 1px #fff, -1px -1px 1px #fff, 0px 0px 10px #eee;
    white-space: normal;
    overflow: hidden;
    width: 100%;
    height: 40px;
}

.menu-module .text.show-complete {
    z-index: 1000;
    width: auto;
    height: auto;
    white-space: normal;
    text-shadow: 0px 0px 10px #fff, 1px 1px 2px #fff, -1px -1px 2px #fff, 0px 0px 15px #ccc;
    padding: 2px;
}

.menu-module .gridbox {
    background-color: rgba(250, 250, 250, 0.8);
    border: 4px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px #CCC;
    font-size: 18px;
    overflow-y: auto;
    display: none;
}

.menu-module .innergrid {
    overflow: hidden;
    margin: 20px 20px 20px 20px;
    padding: 5px;
}

.menu-module .arrow {
    position: fixed;
    border-style: solid;
    border-width: 10px 0px 10px 15px;
    border-color: transparent transparent transparent rgba(250, 250, 250, 0.8);
    display: none;
    right: 65px;
    bottom: 45px;
}

.menu-module .btn-floating i {
    font-size: 1.6rem !important;
}

.btn-large i {
    font-size: 1.6rem !important;
}

/*
    Custom scrollbar
*/
.menu-module .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(90, 90, 90, 0.0);
    border-radius: 5px;
    background-color: transparent;
}

.menu-module .scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.menu-module .scrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.0);
    border-radius: 5px;
    background-color: #ccc;
}

/*
    Media query control height dimensions
*/
@media all and (min-height: 361px) {
    .menu-module .gridbox { height: 100%; }
}

@media all and (max-height: 360px) {
    .menu-module { height: 90%; max-height: 320px; bottom: 5%; }
    .menu-module .gridbox { height: 100%; }
}

/*
    Media query control width dimensions
*/
@media all and (min-width: 573px) {
    .menu-module .gridbox { width: 100%; }
    .menu-module.one-item    li { width: 100%; }
    .menu-module.two-items   li { width: 50%; }
    .menu-module.three-items li { width: 33.3333333333%; }
    .menu-module.four-items  li { width: 50%; }
    .menu-module.five-items  li { width: 33.3333333333%; }
    .menu-module.six-items   li { width: 33.3333333333%; }
    .menu-module.seven-items li { width: 33.3333333333%; }
    .menu-module.many-items  li { width: 33.3333333333%; }
    .menu-module.one-item    { max-width: 150px; max-height: 145px; }
    .menu-module.two-items   { max-width: 300px; max-height: 145px; }
    .menu-module.three-items { max-width: 400px; max-height: 145px; }
    .menu-module.four-items  { max-width: 300px; max-height: 230px; }
    .menu-module.five-items  { max-width: 400px; max-height: 230px; }
    .menu-module.six-items   { max-width: 400px; max-height: 230px; }
    .menu-module.seven-items { max-width: 400px; max-height: 320px; }
    .menu-module.many-items  { max-width: 400px; max-height: 300px; height: 90%; }
}

@media all and (min-width: 321px) and (max-width: 572px) {
    .menu-module { width: 70%; }
    .menu-module .gridbox { width: 100%; }
    .menu-module.one-item    li { width: 100%; }
    .menu-module.two-items   li { width: 50%; }
    .menu-module.three-items li { width: 50%; }
    .menu-module.four-items  li { width: 50%; }
    .menu-module.five-items  li { width: 50%; }
    .menu-module.six-items   li { width: 50%; }
    .menu-module.seven-items li { width: 50%; }
    .menu-module.many-items  li { width: 50%; }
    .menu-module.one-item    { max-width: 150px; max-height: 145px; }
    .menu-module.two-items   { max-width: 300px; max-height: 145px; }
    .menu-module.three-items { max-width: 400px; max-height: 145px; }
    .menu-module.four-items  { max-width: 300px; max-height: 230px; }
    .menu-module.five-items  { max-width: 400px; max-height: 230px; }
    .menu-module.six-items   { max-width: 400px; max-height: 230px; }
    .menu-module.seven-items { max-width: 400px; max-height: 320px; }
    .menu-module.many-items  { max-width: 400px; max-height: 300px; height: 90%; }
}

@media all and (max-width: 320px) {
    .menu-module { width: 55%; }
    .menu-module .gridbox { width: 100%; }
    .menu-module.one-item    li { width: 100%; }
    .menu-module.two-items   li { width: 100%; }
    .menu-module.three-items li { width: 100%; }
    .menu-module.four-items  li { width: 100%; }
    .menu-module.five-items  li { width: 100%; }
    .menu-module.six-items   li { width: 100%; }
    .menu-module.seven-items li { width: 100%; }
    .menu-module.many-items  li { width: 100%; }
    .menu-module.one-item    { max-width: 150px; max-height: 145px; }
    .menu-module.two-items   { max-width: 150px; max-height: 230px; }
    .menu-module.three-items { max-width: 150px; max-height: 320px; }
    .menu-module.four-items  { max-width: 150px; max-height: 300px; height: 90%; }
    .menu-module.five-items  { max-width: 150px; max-height: 300px; height: 90%; }
    .menu-module.six-items   { max-width: 150px; max-height: 300px; height: 90%; }
    .menu-module.seven-items { max-width: 150px; max-height: 300px; height: 90%; }
    .menu-module.many-items  { max-width: 150px; max-height: 300px; height: 90%; }
}
