
.dropdown-menu-action-button {
    position: relative;
}
.dropdown-menu-action-button .btn-list {
    margin: 0px 2px;
}
.dropdown-menu-action-button button {
    width: 60px !important;
    background-color: #fff !important;
    color: #366DA1 !important;
}
.dropdown-menu-action-button .dropdown-menu a > i {
    padding: 10px 0px !important;
}
.dropdown-menu-action-button .dropdown-menu-action-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 0px;
    right: 100%;
    width: max-content;
    width: -ms-max-content; /* Microsoft IE */
    width: -moz-max-content; /* Mozilla */
    width: -webkit-max-content; /* Webkit */
    width: -o-max-content; /* Opera */
    width: -khtml-max-content; /* Konqueror */
}
@media only screen and (max-width: 992px) {
    .dados-agrupados .hide-on-med-and-down {
        display: unset !important;
    }
    .dados-abertos .hide-on-med-and-down {
        display: unset !important;
    }
}

.sonata-ba-list-field-actions .dados-abertos .btn-list {
    margin: 0px 2px;
}


.busca{
    margin-top: 6px !important;
}

.btn-delete-sonata {
    font-size: 1.8rem !important;
    margin-right: 0px !important;
    padding: 0px 14px 0px 0px !important;
}

.btn-delete-sonata i{
    font-size: 1.6rem !important;
    padding: 0px 14px 0px 0px !important;
}

.pagination-sonata{
    margin: 0px 0px 0px 0px !important
}

.pagination li{
    padding: 0 0px !important;
}

.pagination-sonata li.active a {
    color: #fff !important;
    background-color: #366da1 !important;
}

.pagination-sonata li a {
    color: #366da1 !important;
}

.filter-sonata{
    margin-left: 107px !important;
    margin-top: -40px !important;
}

.box.box-primary {
    border-top-color: #fff !important;
}

.btn-search{
    padding: 0px !important;
}

.btn-add{
    margin-top: 20px !important;
}

.btn-delete-sonata{
    padding: 0px 0px !important;
}

.sonata-ba-list-field-actions{
    width: 170px !important;
}

.sonata-ba-list-field-actions .btn{
    padding: 0px 0px !important;
}
.sonata-ba-list-field-actions .btn:hover{
    padding: 0px 0px !important;
}

.box-title{
    margin-left: 10px !important;
    color: #354d66 !important;
}

.box-second-title{
    margin-left: 10px !important;
    color: #354d66 !important;
}

.initial{
    padding: 10px 5px !important;
}

.filtro-sonata{
  border: 1px solid #CCC;
  border-radius:3px;
  height: auto !important;
  background-color: #fafafa !important;
  padding: 6px 3px 16px!important;
}

.btn-fil {
  margin: 23px 0px 0px 0px !important;
}

.input[type=text]:focus:not([readonly]) {
    border-bottom: 0px solid #354d66 !important;
    box-shadow: 0 0px 0 0 #354d66 !important;
}

input[type=text]{
    margin: 0px 0px 0px 0px !important;
    height: 2.6rem !important;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-top: 8px;
    color: #366da1;
    font-size: 14px;
}
.input-group .date{
    margin-top: 0px;
}

.filtro-sonata input[type=text]{
    height: 3.2rem !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    margin:0px 0px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    font-size: 1.5rem;
    padding-left: 3px;
}

.filtro-sonata input[type=text]:focus:not([readonly]) {
    height: 3.2rem !important;
    border: 1px solid #CCC !important;
    border-bottom: 1px solid #366da1 !important;
    border-radius: 4px !important;
    margin:0px !important;
    background-color: #fff !important;
    padding: 0px 2px !important;
    box-shadow: 0px 0 0 #354d66;
}

.filtro-sonata select{
    padding: 0px !important;
    margin-top: -30px;
}

.filtro-sonata > .filtro-sonata-custom {
    padding: 10px 7px !important;
    height: auto !important;
}
.filtro-sonata > .filtro-sonata-custom label.checkbox-sonata {
    margin: 7px 3px 0px 12px !important;
}

/* Container for Field Type */
.campo-sonata {
    height: auto;
    margin-bottom: 10px;
}

.campo-sonata-input-text,
.campo-sonata-input-number,
.campo-sonata-input-file,
.campo-sonata-datecampo,
.campo-sonata-select,
.campo-sonata-select2 {
    height: 70px;
    margin-bottom: 10px;
}

.campo-sonata-input-text input,
.campo-sonata-input-number input,
.campo-sonata-input-file input,
.campo-sonata-datecampo input {
    height: 3.2rem !important;
    border: 1px solid #CCC;
    border-radius: 2px !important;
    margin:0px 0px !important;
    background-color: #fff !important;
    padding: 0 2px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
    margin-left: -1px !important;
}

.campo-sonata-input-text input:focus:not([readonly]),
.campo-sonata-input-number input:focus:not([readonly]),
.campo-sonata-input-file input:focus:not([readonly]),
.campo-sonata-datecampo input:focus:not([readonly]) {
    border: 1px solid #CCC !important;
    border-bottom: 1px solid #366da1 !important;
    border-radius: 4px !important;
    margin:0px !important;
    background-color: #fff !important;
    padding: 0px 2px !important;
    box-shadow: 0px 0 0 #354d66;
}

.campo-sonata-select select{
    padding: 0px !important;
    /*margin-top: -34px;*/
    height: 34px !important;
    position: absolute;
}

.campo-sonata select{
    padding: 0px !important;
    /*margin-top: -34px;*/
    height: 34px !important;
    position: absolute;
}

button:focus {
    outline: none;
    background-color: initial !important;
}

.input-field label {
    /*position: relative !important;*/
    /*top: 0rem !important;*/
    left: -0.5rem !important;
}

.breadcrumb {
    background-color: #366da1 !important;
    padding: 0px 0px !important;
    font-size: 14px !important;
}

.select2-offscreen{
    display: none !important;
}
.sonata-ba-field-error-messages:before{
    position: absolute;
    right: 48px;
    top: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f44336;
    content: "";
    display: block;
}
.close-help-block{
    position:relative;
    right: -270px;
    top: 1px;
    color: grey;
    text-shadow: 1px 1px 5px #ccc;
    cursor: pointer;
}
.sonata-ba-field-error-messages{
    color: #f44336 !important;
    position: absolute;
    max-width: 296px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 5px 0;
}

.show {
    margin-left: -10px !important;
    margin-top: 12px !important;
}

.buscar .btn {
    padding: 4px 30px !important;
    font-size: 15px;
    text-transform: none;
    margin-top: 0px !important;
    height: 35px !important;
}
.buscar .btn:focus {
    background-color: #366DA1 !important;
}
.merg{
    margin-top: 31px !important;
}

.margin-top-button-search{
    margin-top: 20px !important;
}

.add .btn {
    text-transform: none;
    margin-top: 18px !important;
    margin-left: -6px !important;

}

.add .btn i{
    font-size: 1.6rem !important;
    padding: 9px 0;
}

.limpar .btn {
    padding: 4px 70px !important;
    font-size: 18px;
    text-transform: none;
}

.deletar .btn {
    padding: 4px 15px !important;
    margin-right: -65px !important
}

.field-filtro{
    height: 70px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.well {
    min-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
}

.btn-success{
    border: 0px solid #fff !important;
}
.btn-sm {
    line-height: 1.8 !important;
}

.btn i{
    font-size: 1.9rem !important;
    line-height: normal !important;
}

.save i{
    font-size: 1.4rem !important;
    line-height: inherit !important;
}

.btn-show{
    margin: 10px 0px !important;
}

.info-box{
    padding: 0px 8px !important;
}

.info-box i{
    margin: 0px 10px !important;
}

.info-box h4{
    margin: 0px 10px !important;
}

.material-tooltip{
    font-size: 1.3rem !important;
}

.input-group{
    /*width: 100% !important;*/
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 40px !important;
    background: none !important;
    box-shadow: none !important;
    font-size:16px !important;
}
.map-nav{
  height: 32px !important;
}

.title-divider{
    width: 100% !important;
    margin-bottom: 15px !important;
}

.select2-container .select2-choices .select2-search-field input {
    border: 0px solid !important;
}
thead{
    text-align: center !important;
    background: #bdbdbd !important;
    font-size: 13px !important;
}

.show-table-horizontal > thead > tr > th {
    font-size: 14px !important;
    text-align: center !important;
    background-color: #f9f9f9 !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ddd !important;
}

.show-table-horizontal > thead > tr > th:last-child {
    border-right: 1px solid #fff !important;
}

.show-table-horizontal > tbody > tr > td {
    text-align: center !important;
    color: #333 !important;
}

.show-table-horizontal > tbody > tr > td:first-child {
    border-left: 1px solid #fff !important;
}

.show-table > tbody > tr.sonata-ba-view-container:last-child {
    border-bottom: 2px solid white !important;
    border-right: 2px solid white !important;
    border-left: 2px solid white !important;
}

.show-table > tbody > tr.sonata-ba-view-container:last-child > td > h2 {
    margin-left: 0px !important;
}
.show-table {
    margin-top: 5px !important;
}

.show-table th{
    text-align: right !important;
    border: 1px solid #CCC !important;
    color: #616161 !important;
    border-right: 3px solid #CCC !important;
}

.show-table tr th{
    border-left: 0px solid !important;
    border-bottom: 1px solid #CCC !important;
}

.show-table td{
    border-right: 0px solid !important;
    padding-top: 8px !important;
}

.show-table thead{
    background: unset !important;
}

.show-table thead th {
    border: 0px !important;
}

th{
    text-align: center !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}
th a{
    color:#fff !important;
}
td{
    padding: 5px 8px !important;
    border: 1px solid rgba(204, 204, 204, 0.09);
}
table.bordered tr td:last-child{
    border-right: 0px;
    text-align: center;
}
table.bordered tr td:first-child{
    border-left: 0px;
    /*text-align: center;*/
}
table.bordered tbody tr:last-child,
table.bordered tbody tr:last-child td {
    border-bottom: 0;
}
textarea.form-control {
    height: 100px;
    color: #366da1 !important;
}
.sonata-ba-view-container th {
    width: 230px !important;
}

.show-table .sonata-ba-view-container td, .sonata-ba-view-container th{
    border-bottom: 1px solid #CCC !important;
}
.sonata-filters-box{
    padding: 0px !important;
}
.sonata-ba-action.btn:not(:hover) {
    background: #24669C!important;
    color: #fff !important;
    border: 1px solid #CCC !important;
    text-transform: initial !important;
}
.btn-success:hover {
    background: #24669C!important;
    color: #fff !important;
    border: 0px solid #CCC !important;
    text-transform: initial !important;
}
.campo-sonata input{
    height: 3.2rem !important;
    border: 1px solid #CCC;
    border-radius: 2px !important;
    margin:0px 0px !important;
    background-color: #fff !important;
    padding: 0 2px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
    margin-left: -1px !important;
}
input[type="file"] {
    width: 280px !important;
    background-color: #FFF !important;
    /*background-image: url("../images/upload-icon.png") !important;*/
    background-repeat: no-repeat !important;
    background-position: right !important;
    border: 1px solid #CCC !important;
}
input[type="file"]:focus {
    width: 280px !important;
    background-color: #FFF !important;
    /*background-image: url("../images/upload-icon.png") !important;*/
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-position: right !important;
    border: 0px solid #CCC !important;
}
.btn-modal-select{
    cursor: pointer !important;
    background: #366da1 !important;
    color: #fff !important;
    border-radius: 3px !important;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;*/
}

.campo-sonata input:focus:not([readonly]) {
    border: 1px solid #CCC !important;
    border-bottom: 1px solid #366da1 !important;
    border-radius: 4px !important;
    margin:0px !important;
    background-color: #fff !important;
    padding: 0px 2px !important;
    box-shadow: 0px 0 0 #354d66;
}
.img-thumbnail {
    background-color: transparent;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee !important;
    color: #24669C !important;
}
.btn-floating i {
    font-size:2.3rem !important;
}
.space{
    padding-top: 10px !important;
    padding-left: 5px !important;
}
.table-bordered thead tr th{
    width:20%!important;
}
.sonata-ba-tbody tr td:first-child{
    border-left:1px solid #fff !important;
    padding: 8px !important;
}
.sonata-ba-tbody tr td:last-child{
    border-right:1px solid #fff !important;
    padding: 8px !important;
}
.sonata-ba-tbody tr:last-child td{
    border-bottom:1px solid #EDEDED !important;
    padding: 8px !important;
}

.sonata-ba-tbody tr:last-child td .select2-container{
    margin-top: 7px !important;
}
.sonata-ba-tbody tr td .checkbox{
    margin: -3px 0px;
}
.sonata-ba-tbody tr td:last-child div input{
    height:3.2rem !important;
    border:1px solid #ccc !important;
    border-radius:5px 0px 0px 5px !important;
}
.sonata-ba-tbody tr td:last-child div span{
    border-left:0px solid #ccc !important;
}
.sonata-ba-tbody tr td:nth-child(2) input{
    height:3.2rem !important;
    border:1px solid #ccc !important;
    border-radius:1px !important;
    margin-top:0px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
}
.sonata-ba-tbody tr td:nth-child(3) input{
    height:3.2rem !important;
    border:1px solid #ccc !important;
    border-radius:1px !important;
    margin-top:0px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
}
.sonata-ba-tbody tr td:nth-child(4) input{
    height:3.2rem !important;
    border:1px solid #ccc !important;
    border-radius:1px !important;
    margin-top:0px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
}
.sonata-ba-tbody tr td:nth-child(5) input{
    height:3.2rem !important;
    border:1px solid #ccc !important;
    border-radius:1px !important;
    margin-top:0px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
}
.control-group {
    text-align: center !important;
}
.control-group .select2-container {
    margin-top: 0px !important;
}
.control-group button.js-delete-conta-corrente,
.control-group input.campo-sonata.form-control,
.control-group .input-group.date,
.control-group div.checkbox {
    margin-top: 7px !important;
    margin-bottom: 0px !important;
}
.control-group div.select2-container {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}
.control-group select.select2-parameters {
    height: 0px !important;
    margin-top: 8px;
}
/*.sonata-ba-tbody .input-group{*/
    /*margin-top: 8px;*/
/*}*/
.sonata-ba-tbody select{
    height: 3.2rem !important;
    margin-top: 8px;
}
.help-block ul{
    width: 100%!important;
}
.admin-panel{
    width: 19% !important;
    margin: 0.2%;
    float: left;
    border: 1px solid #CCC;
}
.panel-title{
    font-size: 1.2rem;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #24669C;
    border-color: #24669C;
}
.panel-default>.panel-heading a {
    color: #fff !important;
}
.icon-panel{
    margin-top: -2px !important;
    font-size: 20px !important;
}
.sub-title-panel{
    border-top: 1px solid #CCC !important;
    width: 100%;
}
.field-container{
    clear: both !important;
}
.input-group-addon:last-child {
    margin-top: 8px !important;
}
.control-label__text{
    font-weight: 200 !important;
    margin-left: 5px !important;
}
input[type=checkbox] {
    visibility: visible;
}
input[type=radio] {
    visibility: visible !important;
}
.fixed-action-btn2 {
    position: fixed;
    /* right: 23px; */
    /* bottom: 23px; */
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}
.help-block {
    display: block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #737373;
    z-index: 10;
}

.help-description {
    display: block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: transparent;
    z-index: 10;
    width: 280px;
    height: 24px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: .3s;
    top: -58px;
}

.help-description:hover {
    z-index: 1000;
    width: 280px;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    text-indent: 0px;
    white-space: normal;
    padding: 10px;
    color: #366da1;
}

.help-description .fa-question-circle {
    position: absolute;
    top: 4px;
    right: 4px;
    color: #366da1 !important;
}

.cancel{
    width: 124px !important;
}
.cancel:hover{
    background: #CCC !important;
}
.btn-bold{
    font-weight: bold;
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #761c19 !important;
}
#filter_timestamp_value label{
    position: absolute;
    top: -29px;
    margin-left: 58px !important;
    text-align: right;
}

#filter_timestamp_value .input-group {
    width:100%;
    float:left;
    margin-right: 1px;
}
.nivel_1{
    border: 1px solid #CCC;
    background: #fff;
    padding-left: 10px;
}
.nivel_2{
    margin-left: 20px;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 4em !important;
    height: 3.7em !important;
    line-height: 3.7em !important;
    vertical-align: middle;
}
.input-group .form-control{
    z-index: 0 !important;
}
.action-btn{
    height: 32px !important;
    margin-left: 10px !important;
}
/*
select {
  display: block !important;
}
*/
.gerardocumento{
    padding-top: 5px !important;
    height: 28px !important;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
}
.show-btn{
    height: 30px !important;
}
.icon-input {
    position: relative;
    float: right;
    right: 56px;
    top: 31px;
    color: white;
}
.icon-input i {
    font-size: 17px !important;
}
input[value="Incluir"]{
    text-align: right;
}
.btn-list{
    margin: 0 10px;
}
input[type="file"]::-webkit-file-upload-button, button {
    background-color: #366da1;
    color: #fff;
    border: 0px solid #ccc;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 7.5px 5px;
    cursor: pointer;
    box-shadow: 3px 0px 3px #ccc;
    margin-left: -2px;
    position: relative;
}
.tooltip.left .tooltip-arrow {
    border-left-color: transparent !important;
}
.tooltip.left {
    margin-left: -10px;
}
.grey{
    background-color: #9e9e9e !important;
}
.help-icon-btn{
    padding-top: 7px;
}
.gerar-verficador{
    position: relative;
    left: 110%;
    margin-top: -20%;
}
.conta-resgate{
    position: relative;
    left: 286px;
    top: -30px;
    transform: rotate(180deg);
    font-size: 7px;
}
.conta-saida{
    position: relative;
    left: 286px;
    top: -30px;
    transform: rotate(180deg);
    font-size: 7px;
}
.tab-title-form{
    position: absolute;
    background-color: #fff;
    width: 36%;
    margin: 9px 0 0;
    height: 28px;
    padding-left: 10px;
}
.centro-custo{
    width: 415% !important;
}

.observacao-textarea {
    width: 200%;
}
input[type="file"] {
    height: 34px !important;
}
.lancarMetas {
    position: relative;
    float: left;
    left: -38%;
}
.comissao-collection{
    max-width: 202px !important;
}

.usuarios-da-entidade{
    width: 205% !important;
}
.help-check-programa-ppa{
    margin-top: 16px;
}

.list-colletion-custom > div{
    width: 100% !important;
}

.margin-top-buton-3 {
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}

.font-weight-700{
    font-weight: 700;
}

.select2-custom-item {
    display: block !important;
    height: fit-content !important;
}

.height-fit-content {
    height: fit-content !important;
    min-height: 80px !important;
}

.margin-top-buton-30 {
    margin-top: 30px !important;
    clear: both;
}

.width-250px {
    width: 250px !important;
}

.white-space-unset {
    white-space: unset !important;
}

.vertical-align-unset {
    vertical-align: unset !important;
}

/* DataTables Custom Grid */
.dt-cell-12{width:100%}
.dt-cell-11{width:91.66666667%}
.dt-cell-10{width:83.33333333%}
.dt-cell-9{width:75%}
.dt-cell-8{width:66.66666667%}
.dt-cell-7{width:58.33333333%}
.dt-cell-6{width:50%}
.dt-cell-5{width:41.66666667%}
.dt-cell-4{width:33.33333333%}
.dt-cell-3{width:25%}
.dt-cell-2{width:16.66666667%}
.dt-cell-1{width:8.33333333%}
