body{
    background-color: #253f80 !important;
}
.flash-success{
    color: #184971;
}

.box-login{
    border: 1px solid #fff;
    background: #e6e5e5;
    border-radius: 4px;
    max-width: 350px;
    padding: 2%;
    margin: 10% auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}
.box-senha{
    border: 1px solid #fff;
    background: #e6e5e5;
    border-radius: 4px;
    max-width: 350px;
    padding: 1% 2%;
    margin: 10% auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}
.box-recovery{
    border: 1px solid #fff;
    background: #e6e5e5;
    border-radius: 4px;
    max-width: 600px;
    padding: 1% 2%;
    margin: 10% auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}
.field{
    background-color:#fff !important;
    color: #366da1 !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    height: 2.4rem !important;
    padding: 0px 3px !important;
}
.email{
    margin: 1% 0% 2% 0% !important
}
.header{
    color: #33526f;
}
.invalid{
    color: #ecb100;
    margin-top: 15px;
    text-align: left;
    font-size: 1.3rem;
    border-radius: 3px;
    font-weight: bold;
}
.btn-login{
    background: #fba319 !important;
    width: 50% !important;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 5px;
    font-weight: bold !important;
    text-transform: initial !important;
    margin: 5%;
    font-size: 1.2rem !important;
}
.btn-recovery {
    background: #ffbf00 !important;
    font-weight: bold !important;
    text-transform: initial !important;
    height: 27px !important;
    line-height: 27px !important;
}
.btn:hover {
    color: #fff !important;
}
.hide{
    color: #184971;
}
.logo{
    margin-bottom: 22px;
}
.link{
    margin-top: -10px;
    margin-right: -5px;
}
.link a{
    color: #253f80;
    font-size: .8rem;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(255, 255, 255, 0.04);
    text-align: center;
    box-shadow: 0px 0px 5px rgb(249, 249, 249);
}
.checkbox{
    margin-top: 15px !important;
}

.checkbox label{
    padding-left: 0px !important;
    font-size: 1rem !important;
    color: #a29999 !important;
    font-weight: 600 !important;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #a29999;
    border-radius: .25em;
    width: 1.1em;
    height: 1.1em;
    float: left;
    margin-right: .3em;
    margin-top: .1em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 40%;
    left: 0%;
    color: #24669C;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.shadow{
    text-shadow: 3px 3px 5px #CCC;
}
.warming{
    color: #fbbc00;
    font-weight: 600;
}
.big-6{
    font-size: 1.4rem !important;
    font-weight: 600;
}