body{
    background-color: #eeeeee !important;
}
a:hover{
    text-decoration: none !important;
}
.baixar-bem{
    position: relative;
    top: 65px;
    right: 10px;
    z-index: 100000000 !important;
    height: 37px;
}
.left-mobile{
    max-width:90px !important;
}
.back{
    margin: 0 !important;
    padding: 1px 0 20px 0 !important;
}
td, th{
    padding: 8px 5px !important;
}
a {
    color: #01579b !important;
}
label {
    font-size: 12px !important;
    color: #24669C !important;
    margin-left: 5px !important;
    margin-top: 10px !important;
}
.btn{
    color: #fff !important;
    padding: 0px 10px !important;
    text-transform: inherit !important;
    margin-left: 7px;
    line-height: 2.5;
}
.serv-btn{
    margin-top: 10px;
}
.buscar .btn{
    padding: 0px 25px !important;
}
.buscar-fgts .btn{
    padding: 0px 25px !important;
    margin-top: 35px !important;
}
.deletar .btn{
    padding: 0px 35px !important;
}
.container {
    width: 95% !important;
    /*padding-right: 0px!important;
    padding-left: 0px!important;*/
}
.title-edit{
    margin-bottom: 0px !important;
    color: #354d66 !important;
}
.title-show{
    margin-bottom: 0px !important;
    margin-top: 20px !important;
    color: #354d66 !important;
}
.busca{
    border: 0px solid #CCC;
    border-radius:3px;
    height: 30px;
    margin-top: -2px;
}
.parallax-container {
    height: 600px !important;
}
.parallax img {
    opacity: 0.65 !important;
}
.box_geral{
    border: 0px solid #CCC;
    border-radius:2px;
    min-height: 600px;
    padding-top: 25px !important;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
}

.box_calendar{
    border: 1px solid #CCC;
    border-radius:5px;
    min-height: 1100px !important;
}

.simple-card{
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #CCC;
}

.fc-center h5{
    margin: 0px !important;
}

.fc-toolbar {
    margin-top: 1em !important;
}
.save-relatorio:focus{
    background-color: #0A5A82 !important;
}
button:focus{
    background-color: initial !important;
}

.full-box{
    border: 0 solid #CCC;
    border-radius:5px;
    background-color: #eeeeee;
}
.out{
    width: 90%;
    height: 26px !important;
    line-height: 26px !important;
    text-transform: none !important;
    margin-top: 47px;
}
.out i{
    height: 26px !important;
    line-height: 26px !important;
    position: absolute;
    top: -7px;
    left: 112px;
}
@media only screen and (min-width: 1200px){
    .card-bank{
        margin: 0 8%;
    }
}
@media (min-width: 1499px){
    .card-inside-azul{
        max-height: 194px;
    }
}
@media (max-width: 1500px){
    .card-inside-azul{
        max-height: 194px;
    }
}

.inp-busca{
    margin-top: -15px !important;
    margin-left: -20px !important;
    border-bottom: 0px !important;
    box-shadow: 0px !important;
}

.inp-busca input[type=text]{
    border-bottom: 0px !important;
    height: 3.7rem !important;
    margin: 0px 0px 0px 31px !important;
}

.busca .inp-busca input[type=text]:focus{
    border-bottom: 0px !important;
    height: 3.7rem !important;
    box-shadow: 0px !important;
}

.busca .inp-busca input[type=text].valid {
    border-bottom: 0px !important;
    height: 3.7rem !important;
    box-shadow: 0 0px 0 0 #CCC !important;
}

.digit{
    padding-left: 0px !important;
}

.breadcrumb{
    background-color: transparent !important;
    padding: 0px 0px !important;
    margin-bottom: 0px !important;
}

.breadcrum {
    margin-top: -4px;
    background-color: #366da1 !important;
    padding: 0px 0px !important;
    font-size: 14px !important;
}

.breadcrum a{
    color: #fff !important;
    text-decoration: none !important;
}
.breadcrumb{
    font-size: 14px !important;
}


/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 0px solid #CCC;
    box-shadow: 0 0px 0 0 #CCC;
}

/* label color */
.input-field label {
    color: #24669C !important;
    /*top: -1.5rem !important;*/
}
/* label focus color */
.input-field input[type=text]:focus label {
    color: #24669C !important;
}
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #354d66 !important;
    box-shadow: 0 0px 0 0 #354d66 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #CCC !important;
    box-shadow: 0 1px 0 0 #CCC !important;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #CCC;
    box-shadow: 0 1px 0 0 #CCC;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #CCC;
}
.dropdown-content {
    background: none !important;
    box-shadow: none !important;
}
.names{
    background-color: #FFF !important;
    padding: 6px 14px 12px 0px;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #ccc;
}
.avatar-img {
    height: 30px;
    margin: 0.5rem 5px 0.4rem 0 !important;
    position: relative;
    overflow: hidden;
    width: 30px;
}
.avatar-img > img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.username{
    font-weight: 700;
}

.title-index{
    padding-top: 25px !important;
}

.marg{
    margin-top: 55px !important;
}

.secnav{
    height: 45px;
}

.sem-efeito a:hover {
    background-color: transparent !important;
}

.marg{
    margin-top: 10px !important;
}

.marg-img{
    padding: 1% 15%;
}

nav ul a:hover{
    background-color: transparent !important;
}

.sem-efeito a:hover {
    background-color: transparent !important;
}

.card.small.bank{
    max-height: 170px !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    margin-right: 0px !important;
}

.card.small{
    max-height: 195px !important;
}

.card.small .card-image, .card.medium .card-image{
    max-height: 80% !important;
}

.card .card-content {
    max-height: 20% !important;
    padding-top: 0px !important;
    padding-left: 10px !important;
    padding-bottom: 2px !important;
}

.card .card-content .card-title {
    line-height: 30px !important;
}

.card .card-title {
    font-size: 20px !important;
    font-weight: 400 !important;
}

.card .card-reveal {
    background-color: #fff !important;
}

.card .card-action {
    padding: 9px !important;
}

.titles{
    font-weight: 400 !important;
}

.title-filtro{
    margin-left: -10px !important;
}

.filtro{
    border: 1px solid #CCC;
    border-radius:3px;
    height: 50px;
}

.filtro-sonata{
    border: 1px solid #CCC;
    border-radius:3px;
    height: auto !important;
    background-color: #fafafa !important;
    padding: 7px!important;
}

.filtro .input-field {
    margin-top: -3px;
}

.filtro .select-wrapper+label {
    top: -10px;
}

.filtro .select-wrapper input.select-dropdown {
    border-bottom: 0px !important;
    margin: -5px 5px !important;
}

.select-wrapper input.select-dropdown {
    border-bottom: 0px !important;
    margin: -5px 5px !important;
}

.filtro input[type=text]:focus{
    border-bottom: 0px !important;
    box-shadow: 0px !important;
}

.filtro input[type=text].valid{
    border-bottom: 0px !important;
    box-shadow: 0px !important;
}

.btn-delete {
    height: 38px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.btn-delete i{
    font-size: 1.6rem !important;
}

.dropdown-content li>span {
    color: #01579b !important;
}

.pagination li.active {
    background-color: #366DA1 !important;
    color: #fff !important;
}

.pagination li {
    color: #366DA1 !important;
}

.serv-btn{
    margin-top: 9px !important;
}

.top-btn{
    margin-top: 20px !important;
}

.picker__date-display {
    background-color: #01579b !important;
}

.picker__weekday-display {
    background-color: #01579b !important;
}


.picker__close, .picker__today {
    color: #01579b !important;
}

.picker__day.picker__day--today {
    color: #CCC !important;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background-color: #CCC !important;
}
.picker__day--selected, .picker--focused .picker__day--selected {
    background-color: #01579b !important;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 40px !important;
    background: none !important;
    box-shadow: none !important;
    font-size:16px !important;
}
.map-nav{
    height: 30px !important;
    margin-bottom: 20px !important;
}
.show .sonata-ba-view-container th{
    width: auto !important;
}
.input-senha{
    height: 3.1rem !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    margin: 0px 0px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    padding-left: 5px !important;
    width: 100%;
}
.input-rh{
    height: 2.1rem !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    margin: 0px 0px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    padding-left: 5px !important;
    width: 100%;
}
.input-rh .select2-choice {
    border: unset !important;
    background: unset !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    color: #366da1 !important;
}
.input-rh .select2-chosen {
    padding: 6px 6px !important;
}
.input-money{
    height: 2.1rem !important;
    border: 1px solid #CCC !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    margin: 0px 0px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    padding-left: 5px !important;
    width: 100%;
}
.input-select2 {
    height: 2.1rem !important;
    border-radius: 4px !important;
    margin: 0px 0px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    padding-left: 0px !important;
    width: 100%;
}
.select2-Symfony{
    margin: 0px 0px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    width: 100%;
}
.select-hiden-back{
    z-index: -1 !important;
    position: relative;
}
.input-rh-table{
    height: 1.5rem !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    margin: 0px 0px !important;
    color: #366da1 !important;
    padding-left: 5px !important;
}
.input-rh-table-anular{
    height: 2.1rem !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    margin: 3px 0 !important;
    padding: 3px 3px !important;
    font-size: 1.3rem !important;
    float: left;
}
.input-rh-table-liquidar{
    height: 2.1rem !important;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    background-color: #fff !important;
    color: #366da1 !important;
    margin: 3px 0 !important;
    padding: 3px 3px !important;
    font-size: 1.3rem !important;
}
.input-rh-date{
    height: 2.06rem !important;
}
.materialize-textarea{
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
    margin: 0 !important;
    background-color: #fff !important;
    color: #366da1 !important;
    padding: 3px !important;
    min-height: 5rem !important;
}
.label-rh{
    font-size: 12px !important;
    color: #24669C !important;
    margin-left: 0px !important;
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 700 !important;
    cursor: default !important;
}
.label-rh-select{
    font-size: 12px !important;
    color: #24669C !important;
    margin-left: 9px !important;
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 700 !important;
    cursor: default !important;
}
.busca-rh{
    padding-top: 30px !important;
}
.filtro-rh{
    padding-bottom: 20px !important;
}
.add-rh{
    text-transform: none !important;
    padding: 0px 10px !important;
    border-radius: 4px !important;
    font-size: 13px;
}
.add-rh i {
    font-size: 1.2rem !important;
}
.container-rh{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.thead-rh{
    text-align: center !important;
    background: #bdbdbd !important;
    font-size: 13px !important;
}
.th-rh{
    text-align: center !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    background:#CCC;
}
.td-rh{
    padding: 1px 8px !important;
    border: 1px solid rgba(204, 204, 204, 0.09);
}
.td-rh-folha{
    border: 1px solid rgba(204, 204, 204, 0.09) !important;
}
table.bordered tr td:first-child {
    border-left: 0px;
}
table.bordered tr td:last-child {
    border-right: 0px;
    text-align: center;
}
/*table.bordered tbody tr:last-child, table.bordered tbody tr:last-child td {*/
/*border-bottom: 0;*/
/*}*/
.pagination{
    display: inline-block !important;
    padding-left: 0!important;
    border-radius: 4px!important;
}
.pagination{
    margin: 25px 0px 0px 0px !important
}

.pagination li{
    padding: 0 0px !important;
    display: inline;
}

.pagination li.active a {
    color: #fff !important;
    background-color: #366da1 !important;
}

.pagination li a {
    color: #CCC !important;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    font-size: 15px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 15px;
}
.pagination>li {
    display: inline !important;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
}
.pagination>li.active>span {
    color: #fff !important;
    background-color: #366da1 !important;
}
.title-divider{
    width: 100% !important;
    margin-bottom: 15px !important;
}
.box-title-rh {
    margin-left: 0px !important;
    padding-left: 0px !important;
    color: #354d66 !important;
}
.select-wrapper input.select-dropdown{
    height: 2rem !important;
    padding-left: 5px !important;
    border:0px !important;
    width: 96% !important;
}

.dropdown-content li{
    min-height: 35px !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    padding: 5px !important;
}

.initial {
    padding: 10px 5px !important;
}

.initial-rh {
    padding: 10px 5px !important;
}
.btn-rh i{
    font-size: 1.0rem !important;
}
.btn-rh-salve{
    padding: 2px 10px !important;
    border-radius: 4px !important;
}
.tit_rh{
    font-weight: bold;
}
.select-wrapper {
    display: none !important;
}
.show-table tr th {
    border-right: 3px solid #CCC !important;
}
table.show-table tr td:last-child {
    border-right: 0px;
    text-align: left;
}
tbody>tr>th.right-rh{
    width: 20%!important;
    text-align: right !important;
}
tbody>tr>th.right-rh>td{
    width: 80%!important;
}
.profile-box{
    border:1px solid #CCC;
    border-radius: 3px;
    background-color: #fafafa;
}
.profile-box-processo{
    border:1px solid #CCC;
    border-radius: 3px;
    background-color: #fafafa;
    /*min-height: 220px;*/
}
.little-box{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 23% !important;
    margin: 1% !important;
    background-color: #fff;
    box-shadow: 1px 1px 5px #CCC;
}
.little1-box{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 48% !important;
    margin: 1% !important;
    background-color: #fff;
    box-shadow: 1px 1px 5px #CCC;
}
.little2-box{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1% !important;
    background-color: #fff;
    box-shadow: 1px 1px 5px #CCC;
    width: 98% !important;
}
.little3-box{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1% !important;
    background-color: #fff;
    box-shadow: 1px 1px 5px #CCC;
    width: 31.3333% !important;
}
.little-box-without-wide{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1% !important;
    background-color: #fff;
    box-shadow: 1px 1px 5px #CCC;
}
.little-box i{
    font-size: 19px;
}
.btn-flat{
    padding: 0 2rem !important;
}
.servidor-table .btn-flat{
    padding: 0 0rem !important;
}
.profile-titles{
    font-weight: 600 !important;
}
.icheckBox{
    display: inline-block !important;
    vertical-align: middle !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 22px !important;
    height: 22px !important;
    background: #fff !important;
    cursor: pointer !important;
}
input[type="checkbox"]{
    position: initial !important;
    visibility: visible !important;
    background: #fff !important;
    float:left;
    margin-right:5px !important;
    margin-top:1px !important;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: initial !important;
    float: left !important;
    visibility: visible !important;
    margin: 0 5px 0 0 !important;
}
.icheckBox input{
    background: #fff !important;
}
.iCheck-helper{
    background-color: #fff !important;
    z-index: 998 !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 0px solid #ccc !important;
    border-radius: 4px;
}
.labelCheck-rh{
    font-size: 12px !important;
    color: #24669C !important;
    margin: 0px !important;
    display: inline-block !important;
    max-width: 100% !important;
    margin-top: 28px !important;
    font-weight: 700 !important;
    margin-bottom: 15px !important;
}
.alert-success{
    border:1px solid #3c763d;
    font-weight:bold;
    background: #f5f5f5 url("../images/success.png") no-repeat top 3px left 8px !important;
    background-size:40px !important;
    padding-left: 5% !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
}
.alert-warning{
    border:1px solid #8a6d3b;
    font-weight:bold;
    background: #fcf8e3 url("../images/warning.png") no-repeat top 3px left 8px !important;
    background-size:40px !important;
    padding-left: 5% !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
}
.modal-warning{
    border:1px solid #8a6d3b;
    color: #8a6d3b;
    font-weight:bold;
    background: #fcf8e3 !important;
}
.btn-success:active{
    background-color:#155088 !important;
}
.btn-success:focus{
    background-color:#155088 !important;
}
.alert-danger{
    border:1px solid #a5120f;
    font-weight:bold;
    background: #f5f5f5 url("../images/error.png") no-repeat top 3px left 8px !important;
    background-size:40px !important;
    padding-left: 5% !important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
}
.alert-danger-modal{
    font-weight:bold;
    background: url("../images/error.png") no-repeat center !important;
    background-size:60px !important;
}
.alert-dismissable .close, .alert-dismissible .close {
    color: #615e5e !important;
    border-radius: 50px;
    width: 20px;
    box-shadow: 1px 1px 3px #ccc;
    opacity:1 !important;
    background-color:#fff !important;
}
button[disabled], html input[disabled] {
    cursor: not-allowed !important;
    background-color: rgba(204, 204, 204, 0.24) !important;
    color: #504d4d !important;
}
.show-table {
    margin-top: 5px !important;
}

.show-table th{
    text-align: right !important;
    color: #616161 !important;
    border-right: 3px solid #CCC !important;
    width: 230px !important;
}
.show-table td{
    border-right: 0px solid !important;
    padding-top: 8px !important;
}
.show {
    margin-left: -10px !important;
    margin-top: 5px !important;
}
.box-title {
    color: #354d66 !important;
}
.h2, h2 {
    font-size: 30px !important;
}
.sonata-ba-view-container:nth-child(2n) td, .sonata-ba-view-container:nth-child(2n) th{
    background-color: #f9f9f9!important;
}
.sonata-ba-view-container:first-child{
    border-top:1px solid #CCC;
}
.deletar-padrao{
    margin-top: 27px !important;
}
.padrao-box{
    border-radius: 3px;
    background-color: #fafafa;
}
.padrao-btn{
    color: #24669C !important;
    border: 0px solid #24669C !important;
    box-shadow: 5px 5px 5px #CCC !important;
}
.fgts-box{
    margin-left: 15% !important;
    margin-top: 5% !important;
}
.checkBoxAlt{
    padding: 16px 12px !important;
}
.rh-radio{
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 5px !important;
    float:left;
    cursor: pointer;
}
.title-table{
    font-weight: bold;
}
.perce-rh{
    position:relative;
    color:#fff;
    height: 60px !important;
}
.perce-rh span{
    position: absolute;
    width: 40px;
    left: 267px;
    bottom: -6px;
    padding: 9px;
    height: 34px;
    border-radius: 0px 4px 4px 0px!important;
}
.radio-rh{
    margin-bottom: 12px!important;
}
select{
    height: 2.4rem !important;
    border: 1px solid #CCC;
    border-radius: 4px !important;
}
.fc-button-group{
    border-radius: 4px !important;
    background: #366da1;
}
.fc-button-group button{
    background: #CCC !important;
}
.fc-state-default{
    text-shadow: 0 0px 0px rgba(255,255,255,.75) !important;
}
.api{
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
}
.api-line{
    border-bottom: 1px solid #CCC;
}.menuHomeNovo{
     padding: 5px 40px 0px 20px;
     position: absolute;
     width: 100%;
     overflow-y: auto;
     height: 100%;
     z-index: 10;
     border-top: 30px solid #ffffff;
     border-bottom: 0px solid #ffffff;
 }
.closeHomeNovo{
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10000;
    width: 25px;
    height: 25px;
    text-align: center;
}
.closeHomeNovo i{
    margin: 0px !important;
    font-size: 20px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    color: #fff;
}
.card-reveal{
    padding: 0px !important;
    overflow-y: hidden !important;
}
.titulo-inside-card{
    background: #24669C;
    color: #fff;
    position: absolute;
    z-index: 2000;
    font-size: 1.1rem;
    padding: 4px 14px !important;
    box-shadow: 1px 1px 1px #aaa;
}
.line-right{
    border-right: 1px solid #CCC;
}
.line-left{
    border-left: 3px solid #CCC;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2)
}
.less{
    width: 22% !important;
    margin-right: 37px;
    background: #fff;
}
.less2{
    width: 28% !important;
    margin-right: 60px;
}
.less2 h5{
    font-size: 1.1rem !important;
}
.line-left a{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.line-left p{
    font-size: 1rem;
}

.titulo-inside-card h6{
    font-weight: 700 !important;
}
.card-reveal i{
    font-size: 1.1rem;
}
.setaProfile{
    position: absolute;
    z-index: 10000;
    top: -14px;
    right: 13px;
}

.setaProfile:before {
    content: "";
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #FFF;
}
.setaMenu{
    text-align: center;
    padding: 2px;
    position: absolute;
    z-index: 10000;
    width: 20px;
}

.setaMenu:before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    margin-right: -35px;
    margin-top: 27px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #24669C;
}
.icoTitMenu{
    height: 14px;
    margin-right: 6px !important;
    margin-left: 2px;
    font-size: 1.4rem !important;
    margin-top: 1px;
}

.card-panel{
    border: 1px solid #CCC;
}
.card-panel h6{
    color: #0055a5 !important;
    font-size: 1.2rem !important;
}
.section{
    text-align: center;
}
.section h6{
    font-size: 1.2rem !important;
    color: #0055a5;
}
.reports{
    padding-bottom: 13px;
    border-radius: 4px;
}
.collection.with-header .collection-header {
    background-color: #366da1 !important;
    border-bottom: 1px solid #e0e0e0;
    padding: 1px 20px !important;
    color: #fff;
}
.collection-header h5{
    font-size: 1.45rem !important;
}
.collection-item i.small {
    font-size: 1.3rem !important;
    color: #11579a;
}
.card-vertical{
    min-height: 108px;
}
.icon-card{
    padding: 22% 0%;
}
.iradio_square-blue {
    margin: 0px 3px 2px 2px !important;
}
.gravar-permissao{
    line-height: 30px;
    height: 35px;
    text-transform: none;
}
nav ul a.btn{
    margin-top: 15px !important;
    margin-bottom: 10px !important;
}
.user{
    background-color: #fff !important;
    text-align: left !important;
    box-shadow: none !important;
    padding-top: 12px !important;
    text-transform: none !important;
}
.user:hover{
    box-shadow: none;
}
.delete-box{
    border: 1px solid #CCC;
    background: #fff;
    border-radius: 4px;
    max-width: 700px;
    padding: 1%;
    margin: 3% auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}
.delete-box2{
    border: 1px solid #CCC;
    background: #fff;
    border-radius: 4px;
    min-height: 110px;
    max-width: 700px;
    padding: 0% 1%;
    margin: 3% auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}
.box-img-profile{
    min-height: 260px !important;
}
label [for="filter_timestamp_value_start"]{
    position: absolute;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 4em !important;
    height: 3.7em !important;
    line-height: 3.7em !important;
    vertical-align: middle;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow: auto;
    background-color: rgb(0,0,0) !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.modal-content {
    background-color: #fefefe !important;
    margin: 15% auto !important;
    padding: 20px !important;
    border: 1px solid #888 !important;
    width: 80% !important;
}
.close1 {
    color: #aaa !important;
    font-size: 47px !important;
    font-weight: bold !important;
    position: absolute;
    right: 1%;
    top: 6%;
    width: 100%;
    height: 90%;
}
.close2 {
    color: #aaa !important;
    float: right !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: black !important;
    text-decoration: none !important;
    cursor: pointer !important;
}
.profile{
    display: block;
    width: 364px !important;
    position: absolute !important;
    top: 6% !important;
    right: 0.4% !important;
    opacity: 1;
    padding: 10px;
    z-index: 1050 !important;
}
.waves-effect{
    z-index: 0 !important;
}
.modul-admin {
    position: fixed;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 998;
    bottom: 45px;
    right: 24px;
    float: right;
}
.list-modul{
    width: 22% !important;
    position: absolute !important;
    bottom: 14% !important;
    right: 1% !important;
    background-color: #fff;
    border-radius: 5px;
}
.ul-modul{
    position: absolute;
    bottom: 11%;
    margin-right: 1%;
    right: 2%;
}
.ul-modul .li-modul{
    margin: 30%;
}
.btn-group-processo{
    box-shadow: 1px 1px 5px #CCC !important;
    margin-top: 18px;
}
.btn-group-processo2{
    margin-top: 18px;
}
.group-float{
    position: absolute;
}
.group-btn-right{
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    min-width: 110px !important;
    border-left: 1px solid #FFF !important;
}
.group-btn-left{
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    min-width: 110px !important;
}
.small-btn{
    line-height: 30px !important;
    height: 30px !important;
}
.paragraph-card{
    text-align: justify;
}
.select2-drop{
    max-width: 600px !important;
}
.rotate {
    transform: rotate(-180deg);
    transition: .3s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}
.text-cardpanel{
    height: 40px;
    overflow-y: auto;
}
.text-cardicon{
    height: 70px;
    overflow-y: auto;
}
.one-card-center{
    margin: 0% 25%;
}
.btn-danger {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.cancelar-material{
    font-size: 18px !important;
    font-weight: 500 !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed !important;
    background-color: rgba(204, 204, 204, 0.37) !important;
    color: #24669C !important;
}
.select2-chosen{
    font-size: 14px !important;
    font-weight: normal !important;
}
.nav-tabs-custom{
    font-size: 16px !important;
    font-weight: 500;
    color: #354d66;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    border-right: 1px solid #fdfdfd !important;
    border-top: 1px solid #fdfdfd !important;
    border-left: 1px solid #fdfdfd !important;
    margin-left: 7px;
    box-shadow: 1px -0px 3px #ccc;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    cursor: default;
    background: rgba(221, 221, 221, 0.12) !important;
    border-bottom-color: transparent;
    border-radius: 6px 6px 0 0 !important;
}
.nav-tabs {
    border-bottom: 3px solid #fbfbfb !important;
}
.help-select .select2-container{
    display: none;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #FFF !important;
    text-align: center;
    background-color: #24669C !important;
    border: 0px solid #ccc;
    border-radius: 4px;
}
.select2-container .select2-choice, .select2-container .select2-choices, .select2-container .select2-choices .select2-search-field input {
    border-radius: 2px !important;
}
.box-recovery-warning{
    border: 1px solid #fff;
    background: #fcf8e3;
    border-radius: 4px;
    max-width: 600px;
    min-height: 175px;
    padding: 0.5% 2%;
    margin: 5% auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
    font-weight:bold;
    color: #8a6d3b;
}
.rppsProjetada{
    background-color:rgba(0,0,0,0.26) !important;
}
[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 0;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    margin-top: 2px;
    transition: .2s;
    cursor: pointer;
}
[type="checkbox"]+label:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    z-index: 0;
    border: 2px solid #2489c5 !important;
    border-radius: 0 !important;
    margin-top: 2px;
    cursor: pointer;
}
[type="checkbox"]:checked+label:before {
    content: "\f14a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #2489c5;
    font-size: 2em;
    top: -4px;
    left: -3px;
    border: 0px solid #fff !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    cursor: pointer;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em !important;
    height: 2em !important;
    line-height: 2em !important;
    vertical-align: middle;
}
.over-icon-right{
    position: absolute !important;
    left: 72px !important;
    bottom: 20px;
}
.modulos{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1% 0.5%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #366da1 !important;
    border: 0px;
    box-shadow: 5px 5px 10px #ccc;
    z-index: 100000;
}
.modulos i{
    font-size: 25px;
    padding-top: 5px;
}
.modulos:focus{
    background-color: #0A5A82 !important;
}
.moduls-box{
    max-width: 325px;
    width: 25%;
    position: fixed;
    right: 24px;
    bottom: 33px;
    float: right;
    background: radial-gradient(#fefefe 70%,#fdfdfd 30%);
    padding: 0.3% 0.5%;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #ccc;
    border: 1px solid #ccc;
}
.inside-box-modul{
    width: 33.33333333333%;
    float: left;
    text-align: center;
    color: #366da1;
    min-height: 95px;
    padding: 5px 0px;
    border-radius: 4px;
    border: 1px solid #fdfdfd;
}
.inside-box-modul:hover{
    background-color: #fff;
}
#NewModuls{
    display: none;
}
label .required:after{
    content: "*";
    position: absolute;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.row-help-padrao{
    padding-bottom: 10px;
    padding-top: 1px;
    margin-top: 5px;
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 20px;
    z-index: 3;
}
.point-f{
    font-size: 7px !important;
    vertical-align: middle;
    padding: 0 15px;
}
.versao-box{
    display: none;
    width: 20%;
    position: absolute;
    top: -170%;
    background-color: #fff;
    color: #0A5A82;
    border: 1px solid #ccc;
    right: 30%;
    box-shadow: 1px 1px 5px 1px #ccc;
    text-align: left;
    padding: 0 5px;
}
.setaVersao{
    position: absolute;
    z-index: 10000;
    top:0;
    left:0;
}
.setaVersao:before {
    content: "";
    display: inline-block;
    border-bottom: 10px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #ccc;
}
.close-btn {
    position: relative;
    width: 95px;
    text-align: right !important;
}

.close-btn:before {
    content: "\f023";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 2em;
    position: absolute;
    top: 0;
    left: 10px;
    color: #fff;
}
.re-open-btn {
    position: relative;
    width: 95px;
    text-align: right !important;
}
.re-open-btn:before {
    content: "\f09c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 2em;
    position: absolute;
    top: 0;
    left: 10px;
    color: #fff;
}
.cancel-btn {
    position: relative;
    width: 170px;
    text-align: right !important;
    float: right;
    top: 0;
    right: 0;
}
.cancel-btn:before {
    content: "\f05e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 2em;
    position: absolute;
    top: 0;
    left: 10px;
    color: #fff;
}
.delete-btn {
    position: relative;
    width: 50px;
    top: -11px;
}
.delete-btn:before {
    content: "\f014";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 2em;
    position: absolute;
    top: 0;
    left: 10px;
    color: #24669C;
}
.free-btn {
    position: relative;
    width: 95px;
    text-align: right !important;
    float: right;
    top: -36px;
    right: 40%;
}

.free-btn:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 2em;
    position: absolute;
    top: 0;
    left: 10px;
    color: #fff;
}
.th-inside-table-helper{
    background-color: #fff !important;
    text-align: center !important;
    border-left: 1px solid #ccc !important;
}
.errorLiquidacao{
    border: 1px solid red !important;
}
.mensagem-inicial{
    width: 200%;
}
.spinner-load{
    color: #24669C;
    position:relative;
    float:right;
    top: -40px;
    right: -60px;
}
.spinner-load-hide{
    display: none;
}
.spinner-load-show{
    display: block;
}
.codEvento{
    cursor: pointer;
}
.margin-help{
    margin-top: -10px !important;
}
.table-space{
    margin-top: 25px;
}

.load-more {
    background-color: transparent;
    color: #ccc;
    font-family: sans-serif;
    height: 3em;
    line-height: 3em;
    overflow: hidden;
    padding: 0 3em;
    -webkit-transition: all .2s ease, background-color .01s ease, color .01s ease;
    transition: all .2s ease, background-color .01s ease, color .01s ease;
    width: auto;
}
.load-more.load-more--loading {
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    background-color: transparent !important;
    border: .3em solid #ccc !important;
    border-radius: 1.5em;
    border-top-color: #24669C !important;
    box-sizing: border-box;
    height: 3em;
    color: transparent !important;
    padding: 0;
    pointer-events: none;
    width: 3em;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.with-addon {
    display: table;
}

.with-addon input {
    display: table-cell;
    width: 100%;
    border-radius: 0;
}

.addon {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    background: #eee;
    padding: 0 8px;
    border: 1px solid #bbb;
}

.addon:first-child {
    border-right: none;
}

.addon:last-child {
    border-left: none;
}

.addon:first-child {
    border-right: none;
}

.addon:last-child {
    border-left: none;
}

.addon:first-child,
input:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.addon:last-child,
input:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.menos-estimativa{
    font-weight: bold;
    position: absolute;
    color: #24669C;
    font-size: large;
}
.delay-icon{
    position: relative;
    color: rgba(43, 43, 43, 0.1);
    font-size: 25em;
    top: 94px;
    float: right;
}
.delay-icon-aviso-lote{
    position: relative;
    color: rgba(43, 43, 43, 0.1);
    font-size: 8em;
    top: 18px;
}
.delay-message{
    width: 60.333333%;
    font-size: 19px;
    color: #757575;
    padding-left: 0px !important;
}
.simil-row{
    width: 100%;
}
.equalize {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.modal-header {
    padding: 15px;
    border-bottom: 0 !important;
}
.our-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 900px;
}
.incluir-registro{
    position: relative;
    left: 277%;
    margin-top: -63px;
}
.incluir-registro i{
    margin: 8px 11px 0 0;
}
.bigger-textarea{
    width: 210%;
}
.exercicio-fixed{
    width: 6.7%;
    position: absolute !important;
    right: 0;
    top: 106%;
    margin-right: 31px !important;
}
.exercicio-fixed-sonata{
    width: 7.9%;
    position: absolute !important;
    right: 0;
    top: 94%;
    margin-right: 18px !important;
    font-size: 10px !important;
}
.select-ano{
    height: 1.5rem !important;
    border: 1px solid #CCC !important;
    border-radius: 2px !important;
    padding: 0 5px !important;
    font-size: 12px !important;
    margin: 0 !important;
    color: #24669C !important;
}
.select-ano-hide{
    background: transparent;
    color: transparent;
    border: 0 solid !Important;
}
.exercicio-fixed-sonata .select2-choice {
    height: 22px !important;
    font-size: 10px !important;
}
.exercicio-fixed-sonata .select2-choice>span:first-child, .select2-chosen, .select2-container .select2-choices .select2-search-field input {
    padding: 1px 6px;
}
.exercicio-fixed-sonata .select2-container .select2-choice .select2-arrow b, .select2-container .select2-choice div b {
    background-position: 0 -1px !important;
}

.contraste{
   -webkit-filter: invert(100%);
   -moz-filter: invert(100%);
   -ms-filter: invert(100%);
   -o-filter: invert(100%);
   filter: invert(100%);
}
.acc{
    position: fixed;
    bottom: 24px;
}
#btn-accesibilidade{
    margin-left: -4px;
}
#btn-accesibilidade:focus, #btn-accesibilidade:hover {
   background-color: #24669C !important;
}
#menu-accesibilidade ul{
    position: fixed;
    bottom: 11px;
    display: inline-flex;
    margin-left: 42px;
}
#menu-accesibilidade ul li{
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    padding: 4px 2px;
    border-radius: 50px;
    font-size: 17px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
#fonte-box ul{
    position: fixed;
    bottom: 55px;
    display: block !important;
    margin-left: -7px;
    color: white !important;
}
#fonte-box ul li{
    background-color: #24669C;
    color: white !important;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    padding: 4px 2px;
    border-radius: 50px;
    font-size: 17px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.audio{
    width: 45%;
    text-align: justify;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    margin: 0 auto;
 }
.link-cards{
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}
.text-shadow-big-icons{
    text-shadow: 5px 5px 5px #ccc;
}
.th-list-sonata {
    text-align: center !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    background: #ccc;
}

.campo-sonata[readonly], input[readonly], .campo-sonata.readonly {
    background-color: #eee !important;
    cursor: not-allowed
}

/* Isola os campos do tipo select2, altera numa unica linha, com largura e altura pre-definida */

.select2-container-multi-options-overflow {
    height: 34px !important;
    clear: both !important;
    width: 100% !important;
    display: inline-table !important;
}

.select2-container-multi-options-overflow .select2-container {
    min-height: 34px !important;
    display: inline-block !important;
    overflow-y: auto !important;
    max-height: 89px !important;
    border: 1px solid #ccc;
    border-radius: 2px !important;
}

/* Organiza grupos de elementos alinhados na Horizontal ou Vertical */

.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}

/* Custom dataTable style config */

#unidade_orcamentaria_conversao_wrapper.dataTables_wrapper tbody div.select2-container {
    width: 170px;
}

#unidade_orcamentaria_atual_wrapper.dataTables_wrapper tbody div.select2-container {
    width: 270px;
}

#unidade_orcamentaria_conversao_wrapper.dataTables_wrapper tbody span.btn,
#unidade_orcamentaria_atual_wrapper.dataTables_wrapper tbody span.btn {
    width: 90px;
}

/* Container for Field Type */
.container-rh .campo {
    height: auto;
    margin-bottom: 10px;
}

.container-rh .campo-input-text,
.container-rh .campo-input-number,
.container-rh .campo-input-file,
.container-rh .campo-datecampo,
.container-rh .campo-select,
.container-rh .campo-select2 {
    height: 70px;
    margin-bottom: 10px;
}

.container-rh .campo-input-text input,
.container-rh .campo-input-number input,
.container-rh .campo-input-file input,
.container-rh .campo-datecampo input {
    height: 3.2rem !important;
    border: 1px solid #CCC;
    border-radius: 2px !important;
    margin:0px 0px !important;
    background-color: #fff !important;
    padding: 0 2px !important;
    color: #366da1 !important;
    font-size: 1.4rem !important;
    margin-left: -1px !important;
}

.container-rh .campo-input-text input:focus:not([readonly]),
.container-rh .campo-input-number input:focus:not([readonly]),
.container-rh .campo-input-file input:focus:not([readonly]),
.container-rh .campo-datecampo input:focus:not([readonly]) {
    border: 1px solid #CCC !important;
    border-bottom: 1px solid #366da1 !important;
    border-radius: 4px !important;
    margin:0px !important;
    background-color: #fff !important;
    padding: 0px 2px !important;
    box-shadow: 0px 0 0 #354d66;
}

.container-rh .campo-select select{
    padding: 0px !important;
    height: 34px !important;
    position: absolute;
}

.container-rh .campo select{
    padding: 0px !important;
    height: 34px !important;
    position: absolute;
}