{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if(object.fkLicitacaoContratoApostilas.get(0)) %}
    <a href="{{ path('urbem_patrimonial_contrato_apostila_edit', { 'id': object.fkLicitacaoContratoApostilas.get(0)|objectKey }) }}"
       class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped"
       data-toggle="tooltip"
       data-placement="bottom"
       title="{{ 'label.patrimonial.compras.contrato_apostila.editarApostilaContrato'|trans}}">
        <i class="mdi mdi-book-multiple fa-lg"></i>
    </a>
{% else %}
    <a href="{{ path('urbem_patrimonial_contrato_apostila_create', { 'id': admin.getObjectKey(object)}) }}"
       class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped"
       data-toggle="tooltip"
       data-placement="bottom"
       title="{{ 'label.patrimonial.compras.contrato_apostila.criarApostilaContrato'|trans}}">
        <i class="mdi mdi-book-plus fa-lg"></i>
    </a>
{% endif %}

