{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<a href="{{ path('urbem_patrimonial_contrato_anulado_create', { 'id': object|objectKey }) }}"
   class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped"
   data-toggle="tooltip"
   data-placement="bottom"
   title="Contrato Anulado">
    <i class="fa-lg mdi mdi-block-helper"></i>
</a>

