<!DOCTYPE html>
<html>
    <head>
        {% include '::partials/metas.html.twig' %}
        <title>
            {% block title %}
                {{ wo_render_breadcrumbs({ separator: '>', viewTemplate: "WhiteOctoberBreadcrumbsBundle::titlebreadcrumbs.html.twig" }) }}
            {% endblock title %}
        </title>
        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body>
        <nav class="z-depth-0">
            <div class="nav-wrapper white">
                <a href="{{ path('home-urbem') }}" class="black-text brand-logo">
                    <img class="img-responsive"
                         style="max-height:35px; margin: 8% 10%;"
                         src="{{ asset('/bundles/core/images/logo_lighten.png') }}"
                         alt="Link para página principal do sistema">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class=" blue-text text-darken-4 material-icons">menu</i>
                </a>
            </div>
        </nav>

        <div class="row back">
            {% block content %}
            {% endblock content %}
        </div>

        {% include '::partials/footer.html.twig' %}
    </body>
</html>
