{% set iconColor = "color: #ccc !important;" %}
{% set route = "#@" %}

{% if filaRelatorioCanDownload(object) %}
    {% set iconColor = "" %}
    {% set route = path('prestacao_contas_download', {fila: object.id}) %}
{% endif %}


<a href="{{ route }}" style="{{ iconColor }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="Download">
    <i class="fa fa-cloud-download icon-btn"></i>
</a>