{% extends "base_home_cards.html.twig" %}

{% block title %}
    {{ 'configuracao.titulo' | trans }}

{% endblock title %}

{% block menu %}
    {% include '::partials/menu.html.twig' %}

{% endblock menu %}

{% block content %}
    <div class="container white box_geral z-depth-1">
        <div class="row">
            <div class="sonata-ba-form">
                {{ form_rest(form) }}

            </div>
        </div>
    </div>

{% endblock %}
