{% if (admin.hasReportTitle == false) %}
<div class="">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h3 class="col s12 box-title left-align show" style="font-weight: 700;">
                {{ admin.relatorio['titlePage'] }}
            </h3>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>
</div>
{% endif %}