<div class="row">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h4 class="col s12 box-title left-align show">
                Despesa Bruta Pessoal
            </h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-pessoal-ativo">
        <label class="control-label required" for="valor_pessoal_ativo">Pessoal Ativo</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_pessoal_ativo" tabindex="-1" title="Pessoal Ativo" class="money bruto vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-pessoal-inativo">
        <label class="control-label required" for="valor_pessoal_inativo">Pessoal Inativo e Pensionista</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_pessoal_inativo" tabindex="-1" title="Pessoal Inativo e Pensionista" class="money bruto vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-terceirizacao">
        <label class="control-label required" for="valor_terceirizacao">Outras Despesas Terceirização</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_terceirizacao" tabindex="-1" title="Outras Despesas Terceirização" class="money bruto vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="box box-primary">
        <div class="box-header col s12">
            <h4 class="col s12 box-title left-align show">
                Despesas Não Computadas
            </h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>


    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-indenizacoes">
        <label class="control-label required" for="valor_indenizacoes">Indenizações Demissão e IDV</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_indenizacoes" tabindex="-1" title="*Indenizações Demissão e IDV" class="money despesa vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-decisao-judicial">
        <label class="control-label required" for="valor_decisao_judicial">Decorrentes de Decisão Judicial</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_decisao_judicial" tabindex="-1" title="Decorrentes de Decisão Judicial" class="money despesa vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-exercicios-anteriores">
        <label class="control-label required" for="valor_exercicios_anteriores">Despesas Exercicios Anteriores	</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_exercicios_anteriores" tabindex="-1" title="Despesas Exercicios Anteriores	" class="money despesa vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-inativos-pensionistas">
        <label class="control-label required" for="valor_inativos_pensionistas">Inativos e Pen. com Rec. Vinculados</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_inativos_pensionistas" tabindex="-1" title="Inativos e Pensionistas com Recursos Vinculados" class="money despesa vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="box box-primary">
        <div class="box-header col s12">
            <h4 class="col s12 box-title left-align show">
                Total da Despesa Mensal
            </h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-total">
        <label class="control-label " for="total">Total da Despesa Mensal</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" disabled="disabled" name="total" id="total" tabindex="-1" title="Total da Despesa Mensal" value="0,00" class="money vl-lancamento campo-sonata form-control"></div>
    </div>
</div>








