<link href="/prestacaocontas/css/dataTables.bootstrap.min.css" />
<link href="/prestacaocontas/css/scroller.bootstrap.min.css" />

<div class="box box-primary">
    <div class="box-header col s12">
        <h3 class="col s12 box-title left-align show">
            Lista de Valores
        </h3>
        <div class="divider grey lighten-1  title-divider"><p>1</p></div>
    </div>
</div>

<style type="text/css">
    .header-custom-grid {
        width: unset;
        width: 90px !important;
    }
</style>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active" id="liTableList"><a data-toggle="tab" id="tableValores" href="#tableList">Valores</a></li>
        <li class="disabled" title="Selecione o Período" id="liInputList"><a data-toggle="" id="createValores" href="#inputList">Novos Valores</a></li>
    </ul>

    <div class="tab-content">
        <div id="tableList" class="tab-pane fade in active">
            <table class="table table-striped nowrap display" id="tableListValores" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="sonata-ba-list-field-header"></th>
                    <th class="sonata-ba-list-field-header">Periodo</th>
                    <th class="sonata-ba-list-field-header">Valores</th>
                    <th class="sonata-ba-list-field-header">Ações</th>
                </tr>
                </thead>
            </table>
        </div>
        <div id="inputList" class="tab-pane fade">
            {% include 'PrestacaoContasBundle::Tribunal/STN/Configuracao/VincularDespesaPessoal/formValores.html.twig' %}
        </div>
    </div>
</div>