<table class="table table-bordered js-table-lista-cod-estagios hidden">
    <thead>
        <tr>
            <th>{{ 'label.imaExportarPagamentoBanrisul.estagio'|trans }}</th>
            <th>{{ 'label.imaExportarPagamentoBanrisul.cgm'|trans }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sonata-ba-tbody ui-sortable"></tbody>
</table>
