{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.verificaEncerramento(object) %}
    <a href="{{ admin.generateObjectUrl('cancela_encerramento', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Cancela Encerramento">
        <i class="material-icons fa-lg">monetization_on</i>
    </a>
{% else %}
    <a href="{{ admin.generateObjectUrl('encerramento', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Encerramento de Conta">
        <i class="material-icons fa-lg">money_off</i>
    </a>
{% endif %}
