<link href="/prestacaocontas/css/dataTables.bootstrap.min.css" />
<link href="/prestacaocontas/css/scroller.bootstrap.min.css" />

<div class="box box-primary">
    <div class="box-header col s12">
        <h3 class="col s12 box-title left-align show">
            Receitas
        </h3>
        <div class="divider grey lighten-1  title-divider"><p>1</p></div>
    </div>
</div>

<style type="text/css">
    .header-custom-grid {
        width: unset;
        width: 90px !important;
    }
</style>
<div class="row">
    <table class="table table-striped nowrap display" id="tableListReceitasPeculiar" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="sonata-ba-list-field-header"></th>
            <th class="sonata-ba-list-field-header">Exercício</th>
            <th class="sonata-ba-list-field-header">Receita</th>
            <th class="sonata-ba-list-field-header">Característica</th>
        </tr>
        </thead>
    </table>
</div>