<link href="/prestacaocontas/css/dataTables.bootstrap.min.css" />
<link href="/prestacaocontas/css/scroller.bootstrap.min.css" />

<div class="box box-primary">
    <div class="box-header col s12">
        <h3 class="col s12 box-title left-align show">
            Dados de Credores
        </h3>
        <div class="divider grey lighten-1  title-divider"><p>1</p></div>
    </div>
</div>

<style type="text/css">
.header-custom-grid {
    width: unset;
    width: 90px !important;
}
</style>
<div class="row">
    <div class="form_row col s5 campo-sonata">
        <label class="control-label">
            Tipo de Credor (dados para preenchimento automático)
        </label>
        <div class="sonata-ba-field ">
            <div class="select2-container tipo-credores" style="width: 100%;">
                <select id="tipo_credor" name='tipo_credor' class='select2-parameters tipo-credores-all'></select>
            </div>
        </div>
    </div>

    <div class="content-data-credores" style="clear: both !important;">Escolha uma opção acima e clique em buscar.</div>

    <table class="table table-striped nowrap display" id="tableListCredores" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="sonata-ba-list-field-header"></th>
                <th class="sonata-ba-list-field-header">Exercício</th>
                <th class="sonata-ba-list-field-header">CGM</th>
                <th class="sonata-ba-list-field-header">Tipo de credor</th>
            </tr>
        </thead>
    </table>
</div>