{% set detalhe = admin.getServidor(object) %}

<a href="{{ path('urbem_recursos_humanos_folha_pagamento_consulta_registro_evento_ferias_detalhe', { 'id': '%s~%s~%s~%s~%s'|format(detalhe|last.cod_contrato, detalhe|last.cod_periodo_movimentacao, detalhe|last.nom_cgm, detalhe|last.numcgm, detalhe|last.matricula) }) }}"
   class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list"
   data-toggle="tooltip" data-placement="bottom"
   title="{{ 'label.recursosHumanos.registrosEventoFerias.detalhe'|trans }}">
    <i class="fa fa-search-plus fa-lg"></i>
</a>
