<div class="row">
    <div class="col s12 servidor-table">
        <a class="btn-lg tooltipped"
           data-position="left"
           data-delay="50"
           data-tooltip="Incluir">
            <i class="mdi mdi-source-branch left"></i>
            {{ 'label.patrimonial.licitacao.documentoExigidos'|trans }}
        </a>
    </div>
    <table class="col s12 highlight bordered">
        <thead class="thead-rh">
        <tr class="sonata-ba-list-field-header">
            <th class="th-rh" width="5%">#</th>
            <th class="th-rh">{{ 'label.patrimonial.licitacao.nomDocumento'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for documento in object.documentos %}
            <tr>
                <td class="td-rh">{{ loop.index }}</td>
                <td class="td-rh" style="text-align: left;">{{ documento.fkLicitacaoDocumento.nomDocumento }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
