<div class="form_row col s3 campo-sonata">
	<label class=" control-label" for="s59317f80bfa87_inscricaoEconomica">
        Horário de Início
    </label>
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
    	<input type="time" class="campo-sonata form-control js-date-hr-inicio">
    </div>
</div>

<div class="form_row col s3 campo-sonata">
	<label class=" control-label" for="s59317f80bfa87_inscricaoEconomica">
        Horário de Término
    </label>
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
    	<input type="time" class="campo-sonata form-control js-date-hr-termino">
    </div>
</div>

<div class="form_row col s3 campo-sonata">
	<button type="button" name="incluir-dia-btn" class="waves-effect waves-light btn blue darken-4 btn btn-success">
		<i class="fa fa-plus fa-sm"></i> Incluir
	</button>
</div>
<div class="form_row col s12 campo-sonata">
    <div class="alert alert-danger js-incluir-dia-errors hidden"></div>
</div>
