<div class=" ">
    <div class="box box-primary">
        <div class="box-body  no-padding">
            <table class="table show-table">
                <tbody>
                {% for atributo in object.atributos %}
                    <tr class="sonata-ba-view-container">
                        <th>{{ atributo.nome }}</th>
                        <td>{{ atributo.valor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
