<div class=" ">
    <div class="box box-primary">
        <div class="box-body  no-padding">
            <table class="table show-table">
                <tbody>
                <tr class="sonata-ba-view-container">
                    <th>{{ 'label.classificacao'|trans }}</th>
                    <td>{{ object.vwOrgaoNivelView.orgao }}</td>
                </tr>
                {% for nivel in object.niveis %}
                    <tr class="sonata-ba-view-container">
                        <th>{{ nivel.descricao }}</th>
                        <td>{{ nivel.fkOrganogramaOrgao.descricao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
