{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    {% if object.fkPessoalPensoes.count() > 0 and object.fkPessoalPensoes.last.fkPessoalPensaoExcluida == null %}
        <a href="{{ admin.generateObjectUrl('show', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="Detalhe">
            <i class="fa fa-search-plus fa-lg"></i>
        </a>
    {% else %}
        <a href="#" class="grey-text transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="Detalhe">
            <i class="fa fa-search-plus fa-lg"></i>
        </a>
    {% endif %}
{% endif %}