{% set codContrato = object.fkPessoalServidor.fkPessoalServidorContratoServidores.last().codContrato %}
{% set contrato = admin.recuperarSituacaoDoContratoLiteral(codContrato) %}

<td>
    {{ contrato.situacao }}
</td>