<a href="{{ path('urbem_financeiro_empenho_reemitir_empenho_reemitir_empenho', { 'codPreEmpenho': object.codPreEmpenho, 'exercicio': object.exercicio }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped  btn-list" data-toggle="tooltip" data-placement="bottom" target="_blank" title="{{ 'label.reservaSaldos.relatorio'|trans }}">
    <i class="fa fa-print fa-lg" aria-hidden="true"></i>
</a>
