{% if  admin.tipoIndexacao.fkMonetarioIndicadorEconomico is defined %}
<tr class="sonata-ba-view-container">
    <th>{{ 'label.monetarioCredito.codIndicador'|trans }}</th>
    <td>{{ admin.tipoIndexacao.getFkMonetarioIndicadorEconomico().descricao }}</td>
</tr>
{% endif %}

{% if admin.tipoIndexacao.fkMonetarioMoeda is defined %}
<tr class="sonata-ba-view-container">
    <th>{{ 'label.monetarioCredito.codMoeda'|trans }}</th>
    <td>{{ admin.tipoIndexacao.fkMonetarioMoeda.descricaoSingular }}</td>
</tr>
{% endif %}
