<tr class="sonata-ba-view-container">
    <th>Lista de Fundamentações</th>
    <td>
        {% if admin.creditoNormas|length > 0 %}
        	<table>
        		<thead>
        			<tr>
        				<th>{{ 'label.monetarioCreditoNorma.codNorma'|trans }}</th>
        				<th>{{ 'label.monetarioCreditoNorma.dtInicioVigencia'|trans }}</th>
        			</tr>
        		</thead>
        		<tbody>
	                {% for item in admin.creditoNormas %}
                        <tr>
                            <td>{{ item.getFkNormasNorma() }}</td>
                            <td>{{ item.dtInicioVigencia.format('d/m/Y') }}</td>
                        </tr>
	                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </td>
</tr>
