<div class="form_row col s3">
    <label class="control-label">
        {{ 'label.exercicio'|trans }}
    </label>
    <div style="padding-left: 5px">
        {{ field.data.exercicio }}
    </div>
</div>
