{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="blue-text text-darken-4 title-filtro"><!--Gestão Assentamento--></h3>
        </div>
    <div class="col s5">
        <div class="row">
            <div class="col s2 center-align">
            </div>
            <div class="col s10">
                <h3 class="blue-text text-darken-4">Assentamentos</h3>
            </div>
            <div class="col s12 divider">
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <a  href="{{ path('urbem_recursos_humanos_assentamento_configuracao_list') }}"
                class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped"
                data-position="left"
                data-delay="50"
                data-tooltip="Configurar"><i class="mdi mdi-settings"></i></a>
            </div>
            <div class="col s10">
                <h5 class="blue-text text-darken-4"><a href="{{ path('urbem_recursos_humanos_assentamento_configuracao_list') }}">Configurar Assentamento</a></h5>
                {#<p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>#}
            </div>
        </div>
