{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4"><i class="mdi mdi-file-document left"></i>Relatorios Benefícios</h4>
    <div class="divider"></div>

    <div class="col s3">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Vale-Transporte</span></h6>
            <p>Gere aqui uma lista, por fornecedor, com os itinerários e velores.</p>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Fornecedor</span></h6>
            <p>Gere aqui uma lista com todos os fornecedores cadastrados.</p>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Concessão de VT</span></h6>
            <p>Verifique aqui o Vale-Transporte concedido por servidor e por período.</p>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Totais por Fornecedor</span></h6>
            <p>Verifique aqui as informações Completas dos fornecedores de vale transporte cadastrados..</p>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock content %}
