{% extends "base.html.twig" %}
{% block content %}
    <div>
        <div class="container">
            <h4 class="blue-text text-darken-4">{{ 'label.GerarSaldosBalancoExercicioAnterior'|trans }}</h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
            <p class="delay-message">
                {{ 'label.AberturaRestosPagar.mensagem.permitido'|trans }}
            </p>
        </div>
        {{ form_start(form) }}
        <button type="submit" class="waves-effect waves-light btn blue darken-4 btn btn-success save left"
                style="padding: 0 40px !important; margin-left: 45px"
                name="btn_update_and_list"><i class="mdi mdi-file-document left"></i>
            Gerar
        </button>
        {{ form_end(form) }}
        <i class="fa fa-exclamation-triangle delay-icon" aria-hidden="true">
        </i>
    </div>
{% endblock content %}