<td>
{% if admin.getOrigemCobranca(object) %}

{% set origemArray = admin.getOrigemFormated(object) %}

{% set origem = (origemArray['origem'])|split('<br>') %}

    {% for cobranca in origem %}
        {{ cobranca }}
        <br>
    {% endfor %}
{% else %}
    -
{% endif %}
</td>
