{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4"><i class="mdi mdi-file-document left"></i>Relatorios Estágio</h4>
    <div class="divider"></div>
    <div class="col s4">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Pagamento de Estagiário</span></h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s4">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Recibo de Pagamento</span></h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s4">
        <div class="section">
            <h6 class="truncate"><span class="grey-text">Estagiário</span></h6>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock content %}
