{% if field_description.options.data is defined and field_description.options.data is not empty %}
<tr class="sonata-ba-view-container">
    <th>{{ field_description.options.data.title }}</th>
    <td>
        <table class="table show-table">
            <thead class="thead-rh">
                <tr class="sonata-ba-view-container">
                    {% for header in field_description.options.data.header %}
                        <th style="text-align: left !important;">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for body in field_description.options.data.body %}
                <tr>
                    {% for bodyTd in body %}
                        <td  style="text-align: left !important;" >{{ bodyTd|raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
{% endif %}



