{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<a href="{{ path('urbem_compras_governamentais_requisicao_show', { 'id': admin.objectKey(object) }) }}"
   data-position="bottom"
   data-delay="50"
   data-tooltip="{{ 'perfil'|trans }}"
   title="{{ 'perfil'|trans }}"
   class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped">
    <i class="mdi mdi-account-card-details fa-lg"></i>
</a>


