{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<a href="{{ path('urbem_compras_governamentais_requisicao_create', { 'requisicaoId': admin.objectKey(object) }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.comprasGovernamentaisRequisicao.copiar'|trans }}" target="_blank">
	<i class="fa fa-files-o fa-lg"></i>
</a>


