<div>
    <div class="box box-primary">
        <div class="box-header col s12">

        </div>
        <div class="box-body  no-padding">
            {% if admin.adquirentesArray|length > 0 %}
                {% for item in admin.adquirentesArray %}
                    <table class="table show-table">
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.cgm'|trans }}</th>
                                <td>{{ item.nomCgm }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>{{ 'label.imobiliarioTransferenciaPropriedade.quota'|trans }}</th>
                                <td>{{ item.cota }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
