<th>{{ 'label.arrecadacaoConsultaFinanceira.contribuinte'|trans }}</th>
<td>
    <table>
        <tr>
            <td>CMG</td><td>Nome</td><td>Cota</td>
        </tr>
        <tr>
            <td>{{ admin.getNumcgmProprietario(object) }}</td>
            <td>{{ admin.getContribuinte(object) }}</td>
            <td>{{ admin.getCotaProprietario(object) }}%</td>
        </tr>
    </table>
</td>
