{% for atributo in admin.atributos %}
<tr class="sonata-ba-view-container">
	<th>{{ atributo.name }}</th>
	{% if atributo.value is not empty %}
	    <td>{{ atributo.value }}</td>
	{% else %}
		<td>{{ '-' }}</td>
	{% endif %}
</tr>
{% endfor %}
