<table class="table show-table">
    <thead>
        <tr>
            <th>{{ 'label.ElementoAtividadeCadastroEconomicoAdmin.atividade'|trans }}</th>
            <th>{{ 'label.ElementoAtividadeCadastroEconomicoAdmin.elemento'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in admin.cadastroEconomico.getFkEconomicoAtividadeCadastroEconomicos() %}
            {% for atividadeElemento in item.getFkEconomicoElementoAtivCadEconomicos() %}
                <tr class="sonata-ba-view-container">
                    <td>
                        <span>{{ '%s - %s'|format(item.getFkEconomicoAtividade().getCodEstrutural(), item.getFkEconomicoAtividade().getNomAtividade()) }}</span>
                    </td>
                    <td>
                        <span>{{ atividadeElemento.getFkEconomicoElementoAtividade().getFkEconomicoElemento().getNomElemento() }}</span>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
