<link href="/prestacaocontas/css/dataTables.bootstrap.min.css" />
<link href="/prestacaocontas/css/scroller.bootstrap.min.css" />

<style type="text/css">
.header-custom-grid {
    width: unset;
    width: 90px !important;
}
</style>
<div class="row">

    <table class="table table-striped nowrap display" id="tableListTipoDocumentoCredor" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="sonata-ba-list-field-header"></th>
                <th class="sonata-ba-list-field-header">Documento URBEM</th>
                <th class="sonata-ba-list-field-header">Documentos TCEMG Credor</th>
            </tr>
        </thead>
    </table>
</div>