<div>
    <div class="col s3 little-box">
        <h5 class="col s12 blue-text text-darken-4 profile-titles">Organograma Ativo</h5>
        <h5 class="col s12 grey-text text-darken-1">{{ admin.getOrganogramaAtual() }}</h5>
    </div>
    <div class="col s3 little-box">
        <h5 class="col s12 blue-text text-darken-4 profile-titles">Novo Organograma</h5>
        <h5 class="col s12 grey-text text-darken-1">{{ admin.getOrganogramaNovo() }}</h5>
    </div>
</div>