{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4"><i class="mdi mdi-file-document left"></i>Relatorios Pessoal</h4>
    <div class="divider"></div>

    <div class="col s3">
        <div class="section">
            <a href="#"><h6 class="truncate">Protocolo Entrega</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="#"><h6 class="truncate">Ficha Cadastral</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="#"><h6 class="truncate">Controle Licenças Prêmio</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>

    <div class="col s3">
        <div class="section">
            <a href="#"><h6 class="truncate">Definível de Servidor</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="#"><h6 class="truncate">Assentamentos</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="#"><h6 class="truncate">Certidão tempo de serviço</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>

    <div class="col s3">
        <div class="section">
            <a href="#"><h6 class="truncate">Férias Vencidas</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="#"><h6 class="truncate">Histórico de Férias</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_pessoal_relatorios_cargo_create') }}"><h6 class="truncate">Cargo</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>

    <div class="col s3">
        <div class="section">
            <a href="{{ path('urbem_recursos_humanos_pessoal_relatorios_servidores_create') }}"><h6 class="truncate">Servidores</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="#"><h6 class="truncate">Cadastro de Pensão Judicial</h6></a>
            <p></p>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock content %}
