<div class="col s12">
    <div class="col s2 right">
        {#<span class="icon-receipt"><i>add_</i></span>#}
        <input class="white-text blue darken-4 btn btn-success save col s12 btn-block" type="button" name="gerarRelatorio" id="gerarRelatorio" value="Gerar Relatório" >
    </div>
</div>
