<a href="{{ '/compras-governamentais/requisicoes/create?codItem=%d'|format(object.getCodItem()) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-placement="bottom" title="{{ 'label.comprasGovernamentaisCatalogoItem.requisitar'|trans }}">
    <i class="fa fa-mail-forward fa-lg"></i>
</a>