{% set objeto = admin.getObject(object) %}
{% if objeto %}
    <a href="{{ path('urbem_tributario_arrecadacao_documento_emissao_geracertidao', { 'id': '%s~%s'|format(objeto.numDocumento, objeto.exercicio) }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Baixar Elemento">
        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
    </a>
{% else %}
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Baixar Elemento" class="grey-text transparent z-depth-0 hide-on-med-and-down tooltipped btn-list">
        <i class="fa fa-download fa-lg" aria-hidden="true"></i>
    </a>
{% endif %}