<td>
    {{ object.fkDividaDividaParcelamentos.last.fkDividaParcelamento.codModalidade ~' - '~ object.fkDividaDividaParcelamentos.last.fkDividaParcelamento.fkDividaModalidadeVigencia.fkDividaModalidade.getDescricao() }}
</td>
