<th{% if(is_diff|default(false)) %} class="diff"{% endif %}>{% block name %}{{ admin.trans(field.label, {}, field.translationDomain) }}{% endblock %}</th>
<td>
    {% block field %}
        {% if field.options.data.fkImobiliarioAtributoFaceQuadraValores|length > 0 %}
            {% for atributoFaceQuadraValor in field.options.data.fkImobiliarioAtributoFaceQuadraValores %}
                <p> <strong>{{ atributoFaceQuadraValor.fkAdministracaoAtributoDinamico.nomAtributo }}</strong>:
                {{ atributoFaceQuadraValor.valor }} </p>
            {% endfor %}
        {% endif %}
    {% endblock %}
</td>
