{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.verificaBaixaFaceQuadra(object) %}
    <a href="{{ admin.generateObjectUrl('reativar', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.imobiliarioFaceQuadra.reativarFaceQuadra'|trans }}">
        <i class="fa fa-arrow-up fa-lg"></i>
    </a>
{% else %}
    <a href="{{ admin.generateObjectUrl('baixar', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.imobiliarioFaceQuadra.baixarFaceQuadra'|trans }}">
        <i class="fa fa-arrow-down fa-lg"></i>
    </a>
{% endif %}
