{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div style="text-align: center">
        <div class="container text-center">
            <h4 class="blue-text text-darken-4">Página com dados incompleto</h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
            <p style="    font-size: 19px; color: #757575;">
               A página que você está processando depende do cadastro de outros dados no sistema.<br>
               Entre em contato com o administrador do sistema.<br><br>
            </p>
        </div>
        <a class="white-text btn" href="#" onclick="window.history.back();">
           <i class="material-icons left">arrow_back</i>
           Voltar para Página inicial
        </a>
    </div>
    <i class="mdi mdi-file-lock" style="
       position: absolute;
       left: -110px;
       color: #fff;
       bottom: -30px;
       font-size: 36em;">
    </i>
{% endblock content %}
