{% extends "base_home.html.twig" %}
{% block content %}
<div class="col s12 parallax-container">
    <div class="container">
        <div class="row">
            <h4 class="center amber-text">Seja Bem-vindo!</h4>
        </div>
        <div class="row">
            <div class="grey-text center"><h5>{{ mensagem }}</h5></div>
        </div>
    </div>
    <div class="parallax">
        <img src="{{ asset('/bundles/core/images/background2.png') }}">
    </div>
</div>
{% endblock %}
