parameters:
    database_host:     172.31.45.30
    database_port:     2345
    database_name:     urbem-staging
    database_user:     urbem-staging
    database_urbem_old: urbem-mariana
    database_password: 'pJj}KzL[.)CUCbV(nc;2%pU$86$J.wgD'

    database_test_host: 172.31.45.30
    database_test_port: 2345
    database_test_name: urbem-staging
    database_test_user: urbem-staging
    database_test_password: 'pJj}KzL[.)CUCbV(nc;2%pU$86$J.wgD'
    #database_test_password: '>nKc-MgPbL@z>bF4A-w_A\]59nj!5J;Y'

    database_homolog_host: 172.31.45.30
    database_homolog_port: 2345
    database_homolog_name: urbem-homolog
    database_homolog_user: urbem-homolog
    database_homolog_password: 'kwpZPKG^*N4Sqhgm7?7GvZ2FLsXcKRkQ'

    mailer_transport: smtp
    mailer_host: br332.hostgator.com.br
    mailer_port: 465
    mailer_encryption: ssl
    mailer_user: noreply@longevo.com.br
    mailer_password: 'Z=tG+4*k6UCp=5vM'

    # A secret key that's used to generate certain security-related tokens
    secret:            HZzFX-C?kFSaM7m^q']AY8>qt,HLs@.T
    salt:              CGQ5wqL7VEr[<(rF,4~CZX5#
    itens_per_page: 10

    # API HOMOLOG
    api_homolog_http: http://urbem-homolog.longevo.com.br
    api_homolog_report_http: http://urbem-homolog.longevo.com.br:8080/viewer_440/run?

    # API DEV
    api_dev_http: http://urbem.dev
    api_dev_report_http: http://urbem.dev:8080/viewer_440/run?

    # API PROD
    api_prod_http: http://urbem.longevo.com.br
    api_prod_report_http: http://urbem.longevo.com.br:8080/viewer_440/run?

    # API TEST
    api_test_http: http://urbem.dev
    api_test_report_http: http://urbem.dev:8080/viewer_440/run?

    # Report
    port_birt: 8080
    host_birt: http://web-tomcat7.prod
    
    #Import data
    program_psql: /usr/bin/psql
    program_sed: /bin/sed

    #Test
    application_url_test: 'http://urbem.test/'

    # Enable/Disable Audit Log
    audit_log_enabled: false

    # Token Blade
    token-api-blade: 'A92PZzDs%!XqM6Z3H8Bg27qR?aLxzrHJ'

    # URL Blade
    url_blade_prod: 'http://urbem.cnm.org.br'
    url_blade_test: 'http://urbem-blade-staging.longevo.com.br'
    url_blade_dev: 'http://urbem.dev'
    url_blade_homolog: 'http://urbem-blade-homolog.longevo.com.br'

    # RedeSimplesBundle Configuration
    # RedeSimples src/Urbem/RedeSimplesBundle/DependencyInjection/RedeSimplesExtension.php

    # token
    rede_simples_form_create_endpoint_token: 1234567
    # https://bitbucket.org/snippets/zechim/7eE6a
    rede_simples_form_create_endpoint_fetch: http://localhost/debug/server/fetch.php
    # https://bitbucket.org/snippets/zechim/EeE6n
    rede_simples_form_create_endpoint_post: http://localhost/debug/server/post.php
    # https://bitbucket.org/snippets/zechim/LeL7X
    rede_simples_form_create_endpoint_status: http://localhost/debug/server/status.php

    file_storage: /var/www/storage
    amazon_key: "awsKey"
    amazon_secret: "awsSecret"
    amazon_region: "awsRegion"
    amazon_version: "latest"
    amazon_bucket: "amazonBucket"
    server_backup_enabled: false

    portal_transparencia_rootpath: '/srv/www/transparencia'
    portal_transparencia_config_prefeitura_info_path: '%file_storage%/portal_transparencia/prefeitura.yml'

    prestacao_contas_pentaho_endpoint: 'http://web-pentaho.prod/kettle/executeJob/'
    prestacao_contas_pentaho_authorization: Y2x1c3RlcjpjbHVzdGVy
    prestacao_contas_pentaho_level: INFO
    prestacao_contas_pentaho_rep: DEV
    prestacao_contas_file_path: %file_storage%/prestacaocontas/

    zechim_queue_host: "localhost"
    zechim_queue_port: "5672"
    zechim_queue_user: "guest"
    zechim_queue_password: "guest"
    zechim_queue_routing_key: "queue_1"
    zechim_queue_exchange: "exchange_1"

    url_ibge: "https://www.ibge.gov.br/geociencias-novoportal/organizacao-do-territorio/estrutura-territorial/15761-areas-dos-municipios.html?t=destaques&c="
    url_ultimas_noticias_cnm: "http://www.cnm.org.br/comunicacao/news"

    log_api_host: thundera.longevo.com.br
    log_api_port: '5555'

    #ServerBI - Padrão deve ser vazio
    server_database_bi_nat_host: ""
    server_database_bi_nat_port: ""

    url_rede_simples: "http://redesimples.prod"