{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% if admin.hasEstorno(object)  %}
    <a href="{{ admin.generateObjectUrl('estornar', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-placement="bottom" title="{{ 'label.baixaDebitos.estornar'|trans }}">
        <i class="fa fa-reply fa-lg"></i>
    </a>
{% else %}
    <a href="#" class="grey-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-placement="bottom" title="{{ 'label.baixaDebitos.estornar'|trans }}">
        <i class="fa fa-reply fa-lg grey-text"></i>
    </a>
{% endif %}
