<link href="/prestacaocontas/css/dataTables.bootstrap.min.css" />
<link href="/prestacaocontas/css/scroller.bootstrap.min.css" />

<style type="text/css">
    .header-custom-grid {
        width: unset;
        width: 90px !important;
    }
</style>

<div class="sonata-ba-form-actions well well-small form-actions row">
    <div class="col s12">
        <div class="col s6 left-align initial">
            <a class="white-text blue darken-4 btn btn-success save new"><i class="material-icons left">input</i>Novo</a>
        </div>
        <div class="col s6 right-align initial">
            <button class="white-text blue darken-4 btn btn-success save" name="filter"><i class="material-icons left">input</i>Filtrar</button>
        </div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header col s12">
        <h3 class="col s12 box-title left-align show">
            Registros
        </h3>
        <div class="divider grey lighten-1 title-divider"><p>&nbsp;</p></div>
    </div>
</div>

<div class="row">
    <table class="table table-striped nowrap display" id="listagem" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="sonata-ba-list-field-header">Número da Nota</th>
                <th class="sonata-ba-list-field-header">Série da Nota</th>
                <th class="sonata-ba-list-field-header">Chave de Acesso</th>
                <th class="sonata-ba-list-field-header">Data de Emissão</th>
                <th class="sonata-ba-list-field-header">Valor da Nota</th>
                <th class="sonata-ba-list-field-header"></th>
            </tr>
        </thead>
    </table>
</div>