<div class="form_row col s3 campo-sonata">
    <label class="control-label">Modalidade:</label>
    <div>
        <select name="modalidades">
            {% for key,val in admin.getModalidades() %}
                <option value="{{ val.cod_modalidade }}">{{ val.descricao | trans }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form_row col s3 campo-sonata">
    <label class="control-label">Numero de Parcelas:</label>
    <div>
    <select name="parcelas">
    </select>
    </div>
</div>

<div class="form_row col s3 campo-sonata">
    <label class="control-label">Data de Vencimento:</label>
    <input type="text" name="dtVencimento" class="form-control" value="{{ "now"|date("d/m/Y") }}">
</div>
