{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value|length > 0 %}
        <table class="">
            <thead>
                <tr class="sonata-ba-list-field-header">
                    <th class="sonata-ba-list-field-header-text text-center" style="text-align: center !important; background-color: #dbdbdb !important;">{{ "label.dotacaoSuplementada"|trans }}</th>
                    <th class="sonata-ba-list-field-header-text" style="text-align: center !important; background-color: #dbdbdb !important;">{{ "valor"|trans }}</th>
                </thead>
            <tbody>
                {% for suplementada in value %}
                    <tr>
                        <td class="sonata-ba-list-field sonata-ba-list-field-integer" style="text-align: right !important; background-color: #fff !important;">
                            {{ suplementada.codDespesa}}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-integer" style="text-align: right !important; background-color: #fff !important;">
                            {{ suplementada.valor|number_format(2, ',', '.') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        -
    {% endif %}
{% endblock %}