{% extends "base_home_cards.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container">
            <h4 class="blue-text text-darken-4">
                <i class="mdi mdi-file-document left"></i>
                {{ 'label.ldo.relatorios.relatorios'|transchoice(0,{}, 'messages') }}
            </h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="container">
            <div class="col s6 m6 l4">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_financeiro_ldo_metas_prioridades_report_create')}}">
                        <h5 class="blue-text text-darken-4">
                            {{ 'label.ldo.relatorios.anexoIMetasPrioridades'|transchoice(0,{}, 'messages') }}
                        </h5>
                    </a>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="{{ path('urbem_financeiro_ldo_metas_prioridades_report_create')}}"
                           class="tooltipped"
                           data-position="bottom"
                           data-delay="50"
                           data-tooltip="Incluir">
                            <i class="material-icons">&#xE147;</i>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
