<a href="{{ admin.generateObjectUrl('aliquota', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Alterar Alíquota">
    <i class="fa fa-percent fa-lg" aria-hidden="true"></i>
</a>