{% extends "@Core/Sonata/CRUD/base_list.html.twig" %}

{% block extra_list_buttons %}
    <a class="right hide-on-med-and-down waves-effect waves-light btn blue darken-4 white-text"
       href="{{ path('urbem_administrativo_protocolo_processo_relatorio_etiquetas') }}">
        <i class="material-icons left">print</i>{{ 'label.processo.relatorios.etiquetas'|trans }}
    </a>
{% endblock %}
