<div class="col s6">
    <div class="row">
        <div class="col s12 servidor-table">
            <a class="btn-flat">
                <i class="fa fa-cogs left"></i>
                {{ 'label.processo.acoes'|trans }}
            </a>
        </div>

        <table class="col s12 highlight bordered">
            <thead class="thead-rh">
            <tr>
                <th class="th-rh">{{ 'label.acao'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for assuntoAcao in swProcesso.fkSwAssunto.fkProtocoloAssuntoAcoes %}
                <tr>
                    <td class="left">{{ assuntoAcao.fkAdministracaoAcao.nomAcao }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>Não existem ações cadastradas neste processo.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
