<a href="{{ path('urbem_financeiro_tesouraria_deposito_detalhe', { 'id': '%s~%s~%s'|format(object.codLote, object.codEntidade, object.exercicio) }) }}"
   class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list"
   data-toggle="tooltip" data-placement="bottom"
   title="{{ 'label.recursosHumanos.registrosEventoFerias.detalhe'|trans }}">
    <i class="fa fa-search-plus fa-lg"></i>
</a>