{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="box-recovery">
    <i class="material-icons left large amber-text shadow">email</i>
    <div class="header center">
        <h6 class="big-6">{{ 'resetting.check_email'|trans({'%email%': email}) }}</h6>
        <h6>{{ 'resetting.click_new_password'|trans }}</h6>
    </div>
    <h6 class="center"><a href="/"><i class="mdi mdi-arrow-left-bold-circle-outline"></i>Voltar pro URBEM</a></h6>
</div>
<div class="footer">
    <a href="http://www.cnm.org.br/"><img class="responsive" src="{{ asset('/bundles/core/images/logo_cnm.png') }}"></a>
</div>
{% endblock %}
