{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="box-recovery header">
    <h5 class="center">{{ 'resetting.password_already_requested'|trans }}</h5>
</div>
<div class="footer"><a href="http://www.cnm.org.br/"><img class="responsive" src="{{ asset('/bundles/core/images/logo_cnm.png') }}"></a></div>
{% endblock fos_user_content %}
