{% extends 'base_mail.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.email.subject' | trans }}{% endblock %}

{% block tablebody %}
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td bgcolor="#70bbd9">
                Row 1
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff">
                Row 2
            </td>
        </tr>
        <tr>
            <td bgcolor="#ee4c50">
                Row 3
            </td>
        </tr>
    </table>
{% endblock %}