{% block show %}
    <div class="section">
        <div class="">
            <form method="post" target="_blank" action="{{ path('urbem_patrimonial_frota_autorizacao_gera_relatorio', { 'id': admin.getObjectKey(object) }) }}">
                <div class="form_row col s3 campo-sonata">
                    <label class="checkbox-sonata control-label required">
                        Vias Por Página
                    </label>
                    <div class="sonata-ba-field sonata-ba-field-standard-natural ">
                        <div class="col s12">
                            <ul class="checkbox-sonatalist-check-sonata list-unstyled">
                                <li>
                                    <label class="required">
                                        <div class="iradio_square-blue" style="position: relative;">
                                            <input type="radio" name="quantVias" value="false" style="position: absolute; opacity: 0;">
                                        </div>
                                        <span class="control-label__text">Uma</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="required">
                                        <div class="iradio_square-blue" style="position: relative;">
                                            <input type="radio" name="quantVias" value="true" style="position: absolute; opacity: 0;">
                                        </div>
                                        <span class="control-label__text">Duas</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="exercicio" name="exercicio" value="{{ object.exercicio }}">
                <div class="col s6 right-align" style="margin-top: 2%">
                    <button type="submit" id="form_submit" name="form[submit]" class="white-text blue darken-4 btn btn-success save right">
                        <i class="fa fa-print left"></i>{{ 'label.autorizacao.reemitir' | trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock show %}