{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if admin.verificaBaixa(object) == false %}
    <a href="{{ path('urbem_tributario_imobiliario_imovel_fotos_create', { 'inscricaoMunicipal': object.inscricaoMunicipal }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-placement="bottom" title="{{ 'label.imobiliarioImovelFoto.incluirImagem'|trans }}">
        <i class="fa fa-camera fa-lg"></i>
    </a>
{% else %}
    <a href="#" class="grey-text z-depth-0 hide-on-med-and-down tooltipped  btn-list" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.imobiliarioImovelFoto.incluirImagem'|trans }}">
        <i class="fa fa-camera fa-lg grey-text" aria-hidden="true"></i>
    </a>
{% endif %}
