{% block content %}
    <div class='col s3' style='min-height: 120px;'>
        <label class='control-label label-rh' style='margin-left: 5px;'>{{ 'label.economico.licenca.atividade'|trans }}</label>
        <select id='custom_fkEconomicoAtividadeCadastroEconomico__fkEconomicoAtividade' class='select2-parameters'>
            <option>{{ 'label.selecione'|trans }}</option>
        </select>
    </div>

    <div class="col s3">
		<button type="button" name="incluir-atividade-btn" class="waves-effect waves-light btn blue darken-4 btn btn-success">
			<i class="fa fa-plus fa-sm"></i> Incluir
		</button>
	</div>

    <table id="table-atividades-selecionadas" class="table-atividade-container">
        <thead>
            <th>Código</th>
            <th>Nome</th>
            <th>Data de Início</th>
            <th>Data de Término</th>
            <th>Principal</th>
            <th>Excluir</th>
        </thead>

        <tbody id="tbody-atividade"></tbody>
    </table>
{% endblock content %}