<th>
    {{ 'label.economico.licenca.modeloAlvara'|trans }}
</th>
<td>
    <a href="{{ admin.generateObjectUrl('imprimir', object) }}"
       class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list"
       data-placement="bottom" title="Emitir Licença">
        <i class="fa fa-print fa-lg"></i>
    </a>
    {{ object.getFkEconomicoLicenca().getFkEconomicoLicencaDocumentos().last().getFkAdministracaoModeloDocumento().getNomeArquivoAgt() }}
</td>