{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<a href="{{ path('urbem_financeiro_tesouraria_pagamentos_orcamentaria_estornos_create', { 'params': admin.getObjectKey(object) }) }}" data-toggle="tooltip" data-placement="bottom" title="{{ 'label.orcamentariaEstornos.estornar'|trans }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list">
    <i class="fa fa-reply fa-lg" aria-hidden="true"></i>
</a>
