{% if admin.isGranted('SHOW', object) and admin.hasRoute('show') %}
    <a href="/recursos-humanos/folha-pagamento/consulta-ficha-financeira/{{ object.codContrato }}/show?tipoFiltro=" data-toggle="tooltip" data-placement="bottom" title="Consultar" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list">
        <i class="fa fa-search-plus fa-lg" aria-hidden="true"></i>
    </a>
{% endif %}

