{% block content %}

    {% if field.data.dados is not null %}

        <table class="table show-table">
            <tbody>

            <tr class="sonata-ba-view-container">
                <th>{{ 'label.arrecadacaoSuspensao.proprietario'|trans }}</th>
                <td>
                    {% if field.data.dados.proprietario %}
                        {{ field.data.dados.proprietario }}
                    {% endif %}
                </td>
            </tr>
            <tr class="sonata-ba-view-container">
                <th>{{ 'label.arrecadacaoSuspensao.grupoCredito'|trans }}</th>
                <td>
                    {% if field.data.dados.grupoCredito %}
                        {{ field.data.dados.grupoCredito }}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

    {% endif %}

{% endblock content %}