{% if admin.dados is not null %}
    <tr class="sonata-ba-view-container">
        <th>Tipo</th>
        {% if admin.dados.fkSwTipoLogradouro is not null %}
            <td>{{ admin.dados.fkSwTipoLogradouro.nomTipo }}</td>
        {% else %}
            <td>-</td>
        {% endif %}
    </tr>
    <tr class="sonata-ba-view-container">
        <th>Nome do logradouro</th>
        <td>{{ admin.dados.nomLogradouro }}</td>
    </tr>
    <tr class="sonata-ba-view-container">
        <th>Estado</th>
        {% if admin.dados.fkSwLogradouro.fkSwMunicipio.fkSwUf is not null %}
            <td>{{ admin.dados.fkSwLogradouro.fkSwMunicipio.fkSwUf.nomUf }}</td>
        {% else %}
            <td>-</td>
        {% endif %}
    </tr>
    <tr class="sonata-ba-view-container">
        <th>Município</th>
        {% if admin.dados.fkSwLogradouro.fkSwMunicipio is not null %}
            <td>{{ admin.dados.fkSwLogradouro.fkSwMunicipio.nomMunicipio }}</td>
        {% else %}
            <td>-</td>
        {% endif %}
    </tr>
{% else %}
    <tr class="sonata-ba-view-container">
        <th>Tipo</th>
        <td>-</td>
    </tr>
    <tr class="sonata-ba-view-container">
        <th>Nome do logradouro</th>
        <td>-</td>
    </tr>
    <tr class="sonata-ba-view-container">
        <th>Estado</th>
        <td>-</td>
    </tr>
    <tr class="sonata-ba-view-container">
        <th>Município</th>
        <td>-</td>
    </tr>
{% endif %}