<table class="table show-table">
    <tbody>
    <h2>Lista de Bairros</h2>
        <tr>
            <th>Código do Bairro</th>
            <th>Nome do Bairro</th>
        </tr>
        {% for bairro in admin.bairros %}
            <tr class="sonata-ba-view-container">
                <td>{{ bairro.codBairro }}</td>
                <td>{{ bairro.fkSwBairro.nomBairro }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
