<table class="table show-table">
    <tbody>
        <h2>Lista de CEPs</h2>
        {% for cep in admin.ceps %}
            <tr>
                <th>CEP</th>
                <th>Número Inicial</th>
                <th>Número Final</th>
                <th>Numeração</th>
            </tr>
            <tr class="sonata-ba-view-container">
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
