 <a href="{{ path('urbem_patrimonial_patrimonio_manutencao_paga_delete', { 'id': admin.getObjectKey(object.manutencao) }) }}"
    class="hide-on-med-and-down blue-text text-darken-4 tooltipped"
    data-toggle="tooltip" data-placement="top" title="{{ 'deletar'|trans }}">
     <i class="material-icons">delete</i>
 </a>
