<a href="{{ path('urbem_patrimonial_patrimonio_manutencao_paga_create', { 'id': admin.getObjectKey(object.manutencao) }) }}"
   class="hide-on-med-and-down blue-text text-darken-4 tooltipped left"
   data-toggle="tooltip" data-placement="top" title="{{ 'editar'|trans }}"
   id="manutencaoItem">
    <i class="material-icons">edit</i>
</a>
