<div class="sonata-ba-show">
    <div class="sonata-ba-view">
        <div class="row">
            <h2 class="col s10 box-title left-align show">Desdobramento Receita</h2>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
    </div>
</div>