<td class="sonata-ba-list-field sonata-ba-list-field-text" >

{% set cgm = object.fkArrecadacaoCalculoCgns.last().fkSwCgm %}

{% if cgm is defined %}
    {{ cgm.getNumcgm() }} - {{ cgm.getNomCgm() }}
    {% set cgm = admin.setNumCgm(cgm.getNumcgm()) %}
{% endif %}
</td>
