{% set entidades = field.data.entidadesInfo %}

<table class="bordered highlight" style="width:100%">
    <tr class="tr-rh">
        <th class="th-rh">Entidade</th>
        <th class="th-rh">Ações</th>
    </tr>
    {% for item in entidades %}
        <tr>
            <td class="td-rh">{{ item.nom_cgm }}</td>
            <td class="td-rh">
                <div class="btn-group">
                    <a class="hide-on-med-and-down blue-text text-darken-4 tooltipped right"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Editar"
                       href="{{ path('urbem_financeiro_orcamento_registro_metas_arrecadacao_receita_edit', { 'id': item.cod_entidade }) }}">
                        <i class="material-icons">edit</i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>