<form id="form">
    <table class="table nowrap display"cellspacing="0" width="100%">
        <tr>
            <td>
                <div class="sonata-ba-collapsed-fields custom-form">
                    {{ form_rest(form) }}

                    <div class="sonata-ba-form-actions well well-small form-actions row">
                        <div class="col s12">
                            <div class="col s12 right-align initial">
                                <button type="submit" class="white-text blue darken-4 btn btn-success save" name="save_update"><i class="material-icons left">input</i>Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <input type="hidden" name="key" value="{{ key }}" />
</form>

<style>
    .custom-form .select2-container {height: 34px !important;}
</style>

<script>
    $('select').select2();
    $('#form').submit( function(e){
        e.preventDefault();
    });
</script>