<div class="form_row col s3 campo-sonata" id="sonata-ba-field-container-btn-boletim">
    <label class="control-label">&nbsp;</label>
    <div class="sonata-ba-field sonata-ba-field-standard-natural ">
        <button type="button"
                class="white-text blue darken-4 btn"
                name="pesquisa_boletim"
                style="background: #366DA1 !important; height: 33px;">
            <i class="material-icons left" style="    padding: 0 0; margin-right: 0px;">search</i></button>
    </div>
    <div class="sonata-ba-field sonata-ba-field-standard-natural aviso-erros-boletim"></div>
</div>