{% extends "base.html.twig" %}
{% block content %}
<div class="container-rh">
    <div class="row">
        <div class="col s5">
            <h4 class="blue-text text-darken-4">Registre</h4>
        </div>
        <div class="col s2">
            <h4 class="blue-text text-darken-4"></h4>
        </div>
        <div class="col s5">
            <h4 class="blue-text text-darken-4">Consulte</h4>
        </div>
        <div class="col s5 divider">
        </div>
        <div class="col s2">
            <h4 class="blue-text text-darken-4"></h4>
        </div>
        <div class="col s5 divider">
        </div>
        <div class="col s12">
        <br/>
        <div class="col s5">

            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">attach_money</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folhapagamento_folha_13_salario_conceder_13_salario') }}">Conceder 13° Salário</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn  btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Cancelamento"><i class="material-icons">money_off</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4">
                        <span class="grey-text">Cancelar 13° salário</span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Evento"><i class="material-icons">assignment_turned_in</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4">
                        <a href="{{ path('folhapagamento_folha_13_salario_registrar_evento_13_salario_contrato') }}">Evento 13° salário por contrato</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col s2">
            <p></p>
        </div>
        <div class="col s5">

            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn  btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="material-icons">attach_money</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folhapagamento_folha_13_salario_calcular_13_salario') }}">Calcular 13° Salário</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn  btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Ficha Financeira"><i class="material-icons">assessment</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><a href="{{ path('folhapagamento_folha_13_salario_consultar_ficha_financeira') }}">Consultar Ficha Financeira</a></h5>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn  btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registro"><i class="material-icons">playlist_add_check</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><span class="grey-text">Registrar Evento de 13° Salário por Contrato</span></h5>
                </div>
            </div>
            <div class="row">
                <div class="col s2 center-align">
                    <a class="serv-btn  btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registro"><i class="material-icons">playlist_add_check</i></a>
                </div>
                <div class="col s10">
                    <h5 class="blue-text text-darken-4"><span class="grey-text">Consultar Registros de Evento de 13° Salário</span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
