{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="col s8 center-align fgts-box">
        <div class="row z-depth-1">
            <h3><i class="material-icons medium grey-text">work</i></h3>
            <h1 class="blue-text text-darken-4">Situação</h1>
            <h2 class="blue-text text-darken-4">A configuração do FGTS já está criada</h2>
        </div>
    </div>
</div>
{% endblock content %}
