{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container center">
        <h4 class="blue-text text-darken-4">FGTS</h4>
        <div class="divider grey title-divider"><p class="text-cardicon left-align">1</p></div>
    </div>
    {% if false == fgts %}
    <div class="one-card-center">
        <div class="col s6 m6 l12">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_fgts_create') }}">
                    <h6><i class="material-icons medium">settings</i></h6>
                    <h5 class="truncate center">Configurar FGTS</h5>
                </a>
                <p>Cadastre aqui os Eventos Informativos do FGTS que serão apresentados na Ficha Financeira do Servidor, as alíquotas de contribuição Social e Informações da SEFIP.</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="one-card-center">
        <div class="col s6 m6 l12">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('urbem_recursos_humanos_folha_pagamento_fgts_list') }}">
                    <h6><i class="material-icons medium">settings</i></h6>
                    <h5 class="truncate center">Alterar Configuração do FGTS</h5>
                </a>
                <p>Altere aqui os Eventos Informativos do FGTS que serão apresentados na Ficha Financeira do Servidor, as alíquotas de contribuição Social e Informações da SEFIP.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
