{% set autonomo = object.getFkEconomicoCadastroEconomico().getFkEconomicoCadastroEconomicoAutonomo() %}

<div style="width:100%;text-align:justify;text-indent:2.5cm;margin-top:1cm">
  Certificamos, para os devidos fins e efeitos legais que bem aprouver a parte interessada que de conformidade com levantamento efetuado pela Divisão de Tributação desta Prefeitura, a firma {{ autonomo.getFkSwCgmPessoaFisica().getFkSwCgm().getNomCgm()|upper }} inscrita no Cadastro Fiscal do Município como Autônomo, requereu e obteve a baixa de sua inscrição em {{ object.getDtInicio().format('d/m/Y') }}{% if processo is not empty %}, conforme requerimento Nº {{ '%d/%d'|format(processo.getCodProcesso(), processo.getAnoExercicio()) }} {% endif %}.
</div>
