{% extends "base.html.twig" %}
{% block content %}
    <div class="container-rh">
        <div class="row">
            <div class="col s10">
                <h3 class="blue-text text-darken-4">Informações Mensais e Anuais :: DIRF</h3>
            </div>
            <div class="col s12 divider">
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s2">
                    <a href="#" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Gerar">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col s10">
                    <h5><span class="grey-text">Incluir Configuração<span></h5>
                        <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s2">
                    <a href="#" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Gerar">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col s10">
                    <h5><span class="grey-text">Alterar Configuração<span></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="row">
                <div class="col s2">
                    <a href="#" class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Gerar">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col s10">
                    <h5><span class="grey-text">Excluir Configuração<span></h5>
                    <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
