{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container white z-depth-1 form reports">
    <h4 class="blue-text text-darken-4">
        <i class="mdi mdi-file-document left"></i>
        Relatórios Frota
    </h4>
    <div class="divider"></div>
    <div class="col s3">
        <div class="section">
            <a href="{{ path('urbem_patrimonial_frota_relatorios_veiculo_create') }}"><h6 class="truncate">Veículo</h6></a>
            <p class="left-align text-cardpanel">Emita relatórios com informações dos veículos.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a><h6 class="truncate grey-text">Utilização</h6></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <a href="{{ path('urbem_patrimonial_frota_relatorios_motorista_create') }}"><h6 class="truncate">Motorista</h6></a>
            <p class="left-align text-cardpanel">Emita relatórios com informações dos motoristas.</p>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <a><h6 class="truncate grey-text">Manutenção</h6></a>
        </div>
        <div class="divider"></div>
    </div>
    <div class="col s3">
        <div class="section">
            <a><h6 class="truncate grey-text">Abastecimentos</h6></a>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock content %}