{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    {% if (object | chequeEmitido) == "Sim" %}
        <a href="{{ admin.generateObjectUrl('anular_emissao', object) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-toggle="tooltip" data-placement="bottom" title="Anular emissão">
            <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
        </a>
    {% endif %}
{% endif %}