{% if admin.isGranted('DELETE', object) %}
    <a href="{{ path('urbem_recursos_humanos_assentamento_gerar_assentamento_excluido_create', { 'id': object.fkPessoalAssentamentoGerados.last.codAssentamentoGerado }) }}" data-toggle="tooltip" data-placement="bottom" title="Remover assentamento gerado" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped">
        <i class="fa fa-ban fa-lg" aria-hidden="true"></i>
    </a>
{% endif %}
