<th>{{ form_label(form.fkOrcamentoUnidade) }}</th>
<td>
    {{ form_widget(form.fkOrcamentoUnidade) }}

    {% if show_error %}
        {{ form_errors(form.fkOrcamentoUnidade) }}

    {% endif %}
</td>
