{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% for link in admin.data.links %}
            {% if  link.enabled %}
                <a href="{{ path(link.route_name) }}?id={{ link.assentamento_id }}">
            {% else %}
                <a href="#">
            {% endif %}
                    {{ link.label }}
                </a>
        {% endfor %}
    </div>
{% endblock %}
