<td class="sonata-ba-list-field sonata-ba-list-field-text" >
{% if object.fkArrecadacaoParcela %}
    {% if object.fkArrecadacaoParcela.fkArrecadacaoLancamento %}
        {% if object.fkArrecadacaoParcela.fkArrecadacaoLancamento.fkArrecadacaoLancamentoCalculos.last() %}
            {% if object.fkArrecadacaoParcela.fkArrecadacaoLancamento.fkArrecadacaoLancamentoCalculos.last().fkArrecadacaoCalculo %}
                {% if object.fkArrecadacaoParcela.fkArrecadacaoLancamento.fkArrecadacaoLancamentoCalculos.last().fkArrecadacaoCalculo.fkArrecadacaoCadastroEconomicoCalculo %}
                    {{ object.fkArrecadacaoParcela.fkArrecadacaoLancamento.fkArrecadacaoLancamentoCalculos.last().fkArrecadacaoCalculo.fkArrecadacaoCadastroEconomicoCalculo.getInscricaoEconomica }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
</td>
