<td class="sonata-ba-list-field sonata-ba-list-field-text" >
{% if object.fkArrecadacaoParcela.getNrParcela() == 0 %}
{{ 'label.baixaDebitos.unica'|trans }}
{% else %}
{{ object.fkArrecadacaoParcela.getNrParcela() }}/{{ object.fkArrecadacaoParcela.fkArrecadacaoLancamento.getTotalParcelas() }}
{% endif %}
</td>
