{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<a href="{{ path('urbem_portalservicos_consulta_imovel_relatorio', { 'id': object.inscricaoMunicipal }) }}" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list" data-placement="bottom" title="{{ 'label.imobiliarioConsulta.relatorio'|trans }}">
    <i class="fa fa-file-text fa-lg"></i>
</a>

