<td class="our-truncate">
{% if object.fkLicitacaoComissaoMembros is not empty %}
    {% for membros in object.fkLicitacaoComissaoMembros %}
        {% if membros.fkLicitacaoTipoMembro.codTipoMembro == '2' %}
            {{ membros.fkSwCgm }}
        {% endif %}
    {% endfor %}
{% endif %}
</td>