{% if object.ativo == false %}
    <a href="{{ path('patrimonio_licitacao_comissao_licitacao_ativar', { 'id': object|objectKey }) }}" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Ativar">
        <i class="mdi mdi-toggle-switch fa-lg"></i>
    </a>
{% else %}
    <a href="{{ path('patrimonio_licitacao_comissao_licitacao_inativar', { 'id': object|objectKey }) }}" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped" data-toggle="tooltip" data-placement="bottom" title="Inativar">
        <i class="mdi mdi-toggle-switch-off fa-lg"></i>
    </a>
{% endif %}