{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    <table class="highlight bordered">
        <thead class="thead-rh">
        <tr>
            <th style="text-align: center !important;">{{ 'label.descricao'|trans }}
        </tr>
        </thead>
        <tbody>

        {% if admin.data.fkFrotaVeiculos is not empty %}
            {% for veiculos in admin.data.fkFrotaVeiculos %}
                <tr>
                    <td class="td-rh">{{ veiculos.fkFrotaVeiculo }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="td-rh" colspan="3">Não existe itens cadastrados</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
