<div class="col s12 creditos" style="display: none">
    <h3 class="col s10 box-title left-align show">{{ 'label.arrecadacaoEfetuarLancamento.listaCreditos'|trans }}</h3>
    <div class="divider grey lighten-1  title-divider"></div>
    <table id="tableCreditosManuais" class="bordered highlight" style="width:100%">
        <thead>
            <tr class="tr-rh">
                <th class="th-rh">{{ 'label.codigo'|trans }}</th>
                <th class="th-rh">{{ 'label.descricao'|trans }}</th>
                <th class="th-rh">{{ 'label.arrecadacaoEfetuarLancamento.valor'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-rh row-modelo-credito" style="display: none">
                <td class="td-rh codigo">
                    <input type="hidden" class="input-credito" name="credito[]" />
                </td>
                <td class="td-rh descricao"></td>
                <td class="td-rh valor">
                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="text" name="valor[]" required="required" class="money valor-credito campo-sonata form-control" value="0,00">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

