{% if attrDinamico.atributos is defined and attrDinamico.titulos is defined%}
<tr>
    <td colspan="4">
        {% for key, atributo in attrDinamico.atributos %}
            <div class="attr-item">
            	<strong>{{ attrDinamico.titulos[key] }}</strong>:</br>
            	{% for attr in atributo %}
            		{{ attr|raw }} </br>
            	{% endfor %}
            </div>
        {% endfor %}
    </td>
</tr>
{% endif %}