<tr class="sonata-ba-view-container">
	<th></th>
	<td>
		<a class="btn" href="{{ path('urbem_tributario_arrecadacao_consultas_lote_relatorio_baixa', {'id': '%s~%s'|format(object.getCodLote(), object.getExercicio())}) }}">
            Relatório de Baixa do Lote
        </a>

        <a class="btn" href="{{ path('urbem_tributario_arrecadacao_consultas_lote_relatorio_registro', {'id': '%s~%s'|format(object.getCodLote(), object.getExercicio())}) }}">
            Relatório de Registros do Lote
        </a>
	</td>
</tr>
