<tr class="sonata-ba-view-container">
	<th>{{ 'label.arrecadacaoConsultaLote.tipo'|trans }}</th>
	<td>
		{% if object.getFkArrecadacaoLote().getAutomatico() %}
			{{ 'Baixa Automática' }}
		{% endif %}

		{% if not object.getFkArrecadacaoLote().getAutomatico() %}
			{{ 'Baixa Manual' }}
		{% endif %}
	</td>
</tr>
