{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value|length > 0 %}
        <table class="">
            <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header-text text-center th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.codigo'|trans }}</th>
                <th class="sonata-ba-list-field-header-text th-reducao" style="text-align: center !important; background-color: #dbdbdb !important;">{{ 'label.descricao'|trans }}</th>
            </thead>
            <tbody>
            {% for creditoGrupo in value %}
                <tr class="tr-rh">
                    <td>{{ creditoGrupo.fkAdministracaoAtributoDinamico.codAtributo }}</td>
                    <td>{{ creditoGrupo.fkAdministracaoAtributoDinamico.nomAtributo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        -
    {% endif %}
{% endblock %}