<div class="row">
    <div class="col s12">
        {{ form_label(formCustomized.folha_salario, null, {'label_attr': {'class': 'label-rh'}}) }}
        {{ form_widget(formCustomized.folha_salario,{'attr': {'class': ' white browser-default'}}) }}
        {{ form_errors(formCustomized.folha_salario) }}
    </div>
</div>
