{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Relatorios</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s4 center">
            <div class="col s6 m6 l12">
                <div class="card-panel col s12 hoverable center">
                    <a href="{{ path('urbem_administrativo_administracao_usuarios_relatorio_create') }}">
                        <h6><i class="mdi mdi-clipboard-account large"></i></h6>
                        <h5 class="truncate center">Relatorio de Usuário</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col s4 center">
            <div class="col s6 m6 l12">
                <div class="card-panel col s12 hoverable center">
                    <a href="#">
                        <h6><i class="mdi mdi-account-key large"></i></h6>
                        <h5 class="truncate center">Relatorio de Permissão</h5>
                    </a>
                    <p></p>
                    <div class="divider col s12"></div>
                    <h5 class="left">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">&#xE147;</i></a>
                    </h5>
                    <h5 class="right">
                        <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Procurar"><i class="material-icons">&#xE8B6;</i></a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
