{% extends "base_error.html.twig" %}

{% block content %}
    <br><br>
    <div class="container text-center">
        <h4 class="blue-text text-darken-4">Acesso negado</h4>
        <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        <p style="    font-size: 19px; color: #757575;">
            A página que você está acessando não está disponível para seu perfil.<br>
            Entre em contato com o administrador do sistema caso necessite deste acesso.<br><br>
        </p>
        <a class="white-text btn" href="#" onclick="window.history.back();">
            <i class="material-icons left">arrow_back</i>
            Voltar para Página inicial
        </a>
    </div>
    <i class="fa fa-ban" style="
    position: absolute;
    left: -110px;
    color: #fff;
    bottom: -30px;
    font-size: 36em;">
    </i>
{% endblock %}
