<a href="{{ path('urbem_recursos_humanos_diarias_diaria_recibo', { 'id': admin.id(object) }) }}" data-toggle="tooltip" data-placement="bottom" title="Imprimir" class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped">
    <i class="fa fa-print fa-lg" aria-hidden="true"></i>
</a>
