{% extends "@Core/Sonata/CRUD/base_show.html.twig" %}
{% block extra_list_buttons %}
    <div class="hide-on-med-and-down col l9 right-align">
        <a href="{{ path('urbem_recursos_humanos_diarias_diaria_recibo', { 'id': admin.id(object) }) }}" class="show-btn btn waves-effect waves-light white-text blue darken-4 tooltipped" data-toggle="tooltip" data-placement="left" title="Imprimir"><i class="material-icons">print</i></a>
    </div>
{% endblock %}
