{% set instituicoes = field.options.data.instituicoes %}

<tr class="sonata-ba-view-container" >
    <th>
        {{ "label.estagio.instituicao_ensino" | trans }}
    </th>
    <td>
        <table class="table show-table">
            <tbody>
            {% for instituicao in instituicoes %}
                <tr class="sonata-ba-view-container">
                    {#<th>{{ "label.norma.modulo" | trans }}</th>#}
                    <td>{{ instituicao.fkEstagioInstituicaoEnsino }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
</tr>

