<td>
    {% if admin.UsuarioByNumcgm(object.codResponsavel).setor is not null %}
        {{ admin.UsuarioByNumcgm(object.codResponsavel).setor }}
    {% else %}
        {{ 'label.naoInformado'|trans }}
    {% endif %}
</td>
