{% extends 'CoreBundle:Sonata/CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if field_description.options.data is defined %}
        <ul>
        {% for key, orgao in field_description.options.data %}
            <li>{{ orgao }}</li>
        {% endfor %}
        </ul>
    {% else %}
        -
    {% endif %}
{% endblock field %}
