{% block field %}
<div class="row">
    <div class="box box-primary">
        <div class="box-body">
            <div class="col s12">
                <table class="table show-table">
                    <tbody>
                        {% for fieldName in field.data.groupFields %}
                            <tr>
                                <th>{{ ('label.' ~ field.data.groupLabel ~ '.' ~  fieldName)|trans }}</th>
                                <td>{{ attribute(admin.getSubject, fieldName) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock field %}
