{% if object.fkArrecadacaoDesoneracao.prorrogavel %}
    <a href="{{ admin.generateObjectUrl('prorrogar', object) }}" data-toggle="tooltip" data-placement="bottom"
       title="Prorrogar" class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list">
        <i class="fa fa-calendar-plus-o fa-lg" aria-hidden="true"></i>
    </a>
{% endif %}