<div class="form_row col s3">
    <label class="control-label">
        {{ field.data.label|trans }}
    </label>
    <div style="padding-left: 5px; padding-top: 8px;" id="{{ admin.uniqid ~ '_' ~ field.name }}">
    </div>
</div>
