{% extends "base_home_cards.html.twig" %}
{% block content %}
<div class="container">
    <div class="container">
        <h4 class="blue-text text-darken-4">Consignação</h4>
        <div class="divider grey title-divider"><p>1</p></div>
    </div>
    <div class="container">
        <div class="col s6 m6 l4 left">
            <div class="card-panel col s12 hoverable center">
                <a href="/recursos-humanos/integracao?apik=rh.ima.consignacao.credito_pre_aprovado">
                    <h6><i class="mdi mdi-cash-usd large"></i></h6>
                    <h5 class="truncate center">Crédito Pré-Aprovado</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="/recursos-humanos/integracao?apik=rh.ima.consignacao.credito_pre_aprovado" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Listar"><i class="material-icons">list</i></a>
                </h5>
            </div>
        </div>
        <div class="col s6 m6 l4 right">
            <div class="card-panel col s12 hoverable center">
                <a href="{{ path('informacoes_consignacao_emprestimo')}}">
                    <h6><i class="mdi mdi-cash-multiple large"></i></h6>
                    <h5 class="truncate center">Emprestimo Banrisul</h5>
                </a>
                <p></p>
                <div class="divider col s12"></div>
                <h5 class="right">
                    <a href="{{ path('informacoes_consignacao_emprestimo')}}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Incluir"><i class="material-icons">add</i></a>
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
