<div class="form_row col s3 campo-sonata">
	<a href="{{ admin.generateObjectUrl('descricao_completa_download', field.data.catalogoItem) }}" class="btn" target="_blank">Descrição Completa - Download</a>
</div>