<div>
    <b>{{ 'label.catalogoItem.descricaoCompletaHelp.tipoPermitidos'|trans }}:</b> {{ rules['mimeTypes']|keys|join(', ') }}<br><br>
    <b>{{ 'label.catalogoItem.descricaoCompletaHelp.tamanhoMaximo'|trans }}:</b> {{ rules['maxSize'] }}<br>
</div>
