{% extends "base.html.twig" %}
{% block content %}
    <div class="container-rh">
        <div class="col s12">
            <h4 class="blue-text text-darken-4">Desconto Externo</h4>
            <div class="divider grey title-divider"><p>1</p></div>
        </div>
        <div class="col s4">
            <div class="col s2 center-align">
                <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">add</i></a>
            </div>
            <div class="col s10">
                <h5 class="blue-text text-darken-4"><span class="grey-text">Incluir<span></h5>
                <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="col s2 center-align">
                <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar"><i class="material-icons">edit</i></a>
            </div>
            <div class="col s10">
                <h5 class="blue-text text-darken-4"><span class="grey-text">Alterar<span></h5>
                <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
        <div class="col s4">
            <div class="col s2 center-align">
                <a class="serv-btn btn-floating waves-effect waves-light blue darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="Consultar"><i class="material-icons">delete</i></a>
            </div>
            <div class="col s10">
                <h5 class="blue-text text-darken-4"><span class="grey-text">Excluir<span></h5>
                <p> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>
{% endblock content %}
