<div class="col s12">
    <i class="fa fa-exclamation-triangle delay-icon-aviso-lote left" aria-hidden="true"></i>
    <div class="col s10">
        <h4 class="blue-text text-darken-4">ATENÇÃO!</h4>
        <p class="grey-text">Este é um processo em lote que irá adicionar um ou mais itens de manutenção do frota conformea classificação selecionada.</p>
        <ul class="grey-text">
            <li class="tit_rh">Observação:</li>
            <li> - Todos itens da classificação selecionada ficarão com o mesmo tipo.</li>
            <li> - Serão adicionados somente os itens que ainda não foram incluídos como item de manutenção.</li>
        </ul>
    </div>
</div>