<td>
    {% for usuario in object.fkTesourariaUsuarioTerminais %}
        {% if usuario.responsavel == true %}
            {{ usuario.fkSwCgm.numcgm ~ ' - ' ~ usuario.fkSwCgm.nomCgm }}
        {% endif %}
    {% endfor %}
</td>