<div class="row">
    <div class="box box-primary">
        <div class="box-header col s12">
            <h4 class="col s12 box-title left-align show">
                Receitas Correntes
            </h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-receita-tributaria">
        <label class="control-label required" for="valor_receita_tributaria">Receita Tributaria</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_receita_tributaria" tabindex="-1" title="Receita Tributaria" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-iptu">
        <label class="control-label required" for="valor_iptu">IPTU</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_iptu" tabindex="-1" title="IPTU" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-iss">
        <label class="control-label required" for="valor_iss">ISS</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_iss" tabindex="-1" title="ISS" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-itbi">
        <label class="control-label required" for="valor_itbi">ITBI</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_itbi" tabindex="-1" title="ITBI" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-irrf">
        <label class="control-label required" for="valor_irrf">IRRF</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_irrf" tabindex="-1" title="IRRF" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-outras-receitas-tributarias">
        <label class="control-label required" for="valor_outras_receitas_tributarias">Outras Receitas Tributárias</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_outras_receitas_tributarias" tabindex="-1" title="Outras Receitas Tributárias" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-receita-contribuicoes">
        <label class="control-label required" for="valor_receita_contribuicoes">Receita de Contribuições</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_receita_contribuicoes" tabindex="-1" title="Receita de Contribuições" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-receita-patrimonial">
        <label class="control-label required" for="valor_receita_patrimonial">Receita Patrimonial</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_receita_patrimonial" tabindex="-1" title="Receita Patrimonial" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-receita-agropecuaria">
        <label class="control-label required" for="valor_receita_agropecuaria-receita-agropecuaria">Receita Agropecuária</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_receita_agropecuaria" tabindex="-1" title="Receita Agropecuária" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-receita-industrial">
        <label class="control-label required" for="valor_receita_industrial">Receita Industrial</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_receita_industrial" tabindex="-1" title="Receita Industrial" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-receita-servicos">
        <label class="control-label required" for="valor_receita_servicos">Receita de Serviços</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_receita_servicos" tabindex="-1" title="Receita de Serviços" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor_transferencias_correntes">
        <label class="control-label required" for="valor_transferencias_correntes">Transferências Correntes</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_transferencias_correntes" tabindex="-1" title="Transferências Correntes" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-cota-parte-fpm">
        <label class="control-label required" for="valor_cota_parte_fpm">Cota-Parte do FPM</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_cota_parte_fpm" tabindex="-1" title="Cota-Parte do FPM" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-cota-parte-icms">
        <label class="control-label required" for="valor_cota_parte_icms">Cota-Parte do ICMS</label> <div class="input-group"><span class="input-group-addon">R$</span>
            <input type="text" required="required" value="0,00" name="valor_cota_parte_icms" tabindex="-1" title="Cota-Parte do ICMS" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-cota-parte-ipva">
        <label class="control-label required" for="valor_cota_parte_ipva">Cota-Parte do IPVA</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_cota_parte_ipva" tabindex="-1" title="Cota-Parte do IPVA" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-cota-parte-itr">
        <label class="control-label required" for="valor_cota_parte_itr">Cota-Parte do ITR</label> <div class="input-group"><span class="input-group-addon">R$</span>
            <input type="text" required="required" value="0,00" name="valor_cota_parte_itr" tabindex="-1" title="Cota-Parte do ITR" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-transferencias-lc-871996">
        <label class="control-label required" for="valor_transferencias_lc_871996">Transferências da LC 87/1996</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_transferencias_lc_871996" tabindex="-1" title="Transferências da LC 87/1996" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-transferencias-lc-611989">
        <label class="control-label required" for="valor_transferencias_lc_611989">Transferências da LC 61/1989</label> <div class="input-group"><span class="input-group-addon">R$</span>
            <input type="text" required="required" value="0,00" name="valor_transferencias_lc_611989" tabindex="-1" title="Transferências da LC 61/1989" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-transferencias-fundeb">
        <label class="control-label required" for="valor_transferencias_fundeb">Transferências do FUNDEB</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_transferencias_fundeb" tabindex="-1" title="Transferências do FUNDEB" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor_outras_transferencias_correntes">
        <label class="control-label required" for="valor_outras_transferencias_correntes">Outras Transferências Correntes</label> <div class="input-group"><span class="input-group-addon">R$</span>
            <input type="text" required="required" value="0,00" name="valor_outras_transferencias_correntes" tabindex="-1" title="Outras Transferências Correntes" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor_outras_receitas">
        <label class="control-label required" for="valor_outras_receitas">Outras Receitas Correntes</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_outras_receitas" tabindex="-1" title="Outras Receitas Correntes" class="money receita vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="box box-primary">
        <div class="box-header col s12">
            <h4 class="col s12 box-title left-align show">
                Deduções
            </h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-contrib-plano-sss">
        <label class="control-label required" for="valor_contrib_plano_sss">Contrib. Plano Seg. Social Servidor</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_contrib_plano_sss" tabindex="-1" title="Contrib. Plano Seg. Social Servidor" class="money deducao vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-compensacao-financeira">
        <label class="control-label required" for="valor_compensacao_financeira">Compensação Fin. entre Regimes Prev.</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_compensacao_financeira" tabindex="-1" title="Compensação Financ. entre Regimes Previd" class="money deducao vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor-deducao-fundeb">
        <label class="control-label required" for="valor_deducao_fundeb">Dedução Fundeb</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" required="required" value="0,00" name="valor_deducao_fundeb" tabindex="-1" title="Dedução Fundeb" class="money deducao vl-lancamento campo-sonata form-control"></div>
    </div>

    <div class="box box-primary">
        <div class="box-header col s12">
            <h4 class="col s12 box-title left-align show">
                Total da Receita Corrente Liquída
            </h4>
            <div class="divider grey lighten-1  title-divider"><p>1</p></div>
        </div>
    </div>

    <div class="form_row col s3 campo-sonata-input-text" id="sonata-ba-field-container-valor">
        <label class="control-label " for="valor">(Receitas Correntes - Deduções) - Valor</label> <div class="input-group"><span class="input-group-addon">R$</span>
        <input type="text" disabled="disabled" name="valor" id="valor" tabindex="-1" title="(Receitas Correntes - Deduções) - Valor" value="0,00" class="money vl-lancamento campo-sonata form-control"></div>
    </div>
</div>








