<td>

{% if admin.getEstornarCobrancaList(object) %}

{% set estornos = admin.getEstornos() %}
    {% for estorno in estornos %}
        {{ estorno.num_documento }}<br>
    {% endfor %}
{% endif %}

</td>
