<div class="col s12">
    <button type="button"
            style="position: relative; right: 104px; top: 36px;"
            data-action="{{ admin.generateObjectUrl(item.action, object) }}"
            class="save btn save-relatorio"
            name="btn_salvar_relatorio">
            <i class="glyphicon glyphicon-save-file left"></i>
            Salvar Relatório
    </button>
</div>
