<a href="{{ admin.generateObjectUrl('edit', object) }}"
   class="blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped btn-list"
   data-toggle="tooltip"
   data-placement="bottom"
   title="Duplicar Autorização">
    <i class="fa fa-clone fa-lg" aria-hidden="true"></i>
</a>