<div class="col s1 right" style="margin-top: 10px">
    <span class="icon-input"><i class="material-icons">add_circle</i></span>
    <input class="white-text blue darken-4 btn btn-success save col s12"
           type="button" name="addVinculoConvenio" id="addVinculoConvenio" value="Incluir" >
</div>