{% set convenio = field.data.convenio %}
<table class="table show-table">
    <tbody>
        {% for participanteConvenio in convenio.fkLicitacaoParticipanteConvenios %}
            <tr class="sonata-ba-view-container">
                <th></th>
                <td>
                    {{ participanteConvenio.fkLicitacaoConvenio.fkSwCgm.numcgm }} - {{ participanteConvenio.fkLicitacaoConvenio.fkSwCgm.nomCgm }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>