<table class="bordered highlight">
    {% for participanteConvenio in object.fkLicitacaoParticipanteConvenios %}
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ participanteConvenio.fkLicitacaoConvenio.fkSwCgm.numcgm }} - {{ participanteConvenio.fkLicitacaoConvenio.fkSwCgm.nomCgm }}
            </td>
        </tr>
    {% endfor %}

    {% if object.fkLicitacaoParticipanteConvenios.count == 0 %}
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ "empenhoConvenio.nenhumParticipante" | trans }}
            </td>
        </tr>
    {% endif %}
</table>