<a href="{{ admin.generateObjectUrl('criar_vinculo', object) }}"
   data-position="bottom"
   data-delay="50"
   data-original-title="{{ "label.empenhoConvenio.criarVinculo" | trans }}"
   title="{{ "label.empenhoConvenio.criarVinculo" | trans }}"
   class="btn-list blue-text text-darken-4 transparent z-depth-0 hide-on-med-and-down tooltipped">
    <i class="mdi  mdi-checkbox-marked-circle fa-lg"></i>
</a>

